<div  id="molecular-data" class="panel">

    <div class="panel-header">
        <h3 style="padding: 7px"><span class="flaticon-molecules1" style="color: #39b3d7; margin-right: 3px"></span> Bio-Marker Data
        </h3>
    </div>

    <tabset class="assay-panel">
        <tab>
            <tab-heading>
                <div class="assay-info" align="center">
                    <img src="img/assays/transcriptomics.svg">
                    <p class="assay-type">Transcription Profiling</p>
                    <p class="assay-tech">DNA Microarray</p>
                    <!--<p class="assay-count"><dc-count-widget cf="cf"></dc-count-widget> assays</p>-->
                    <i class="flaticon-download164" style="margin-left: 150px;cursor: pointer"
                       ng-click="addAssayGrp('Transcription Profiling')"></i>
                </div>
            </tab-heading>
            <!--<div class="assay-content">-->

                <!--<div class="assay-sample-header">
                        <div style="float: left">
                            <span style=" padding-left: 15px;">Samples</span>
                        </div>
                           <span>
                            <a ng-click="isSamplesCollapsed = !isSamplesCollapsed">
                                Show Characteristics <span class="caret"></span></a>
                            </span>
                        <div collapse="isSamplesCollapsed">
                            <div>
                                <div class="section-block-content-option"  align="center">
                                    <p>Select Sample Characteristics</p>
                                    <ul>
                                        <li ng-repeat="sc in sampleCharacteristics" >
                                            <label id="sc_{{$index}}"
                                                   charting-button val="{{sc}}" active="{{isActive}}"
                                                   container="{{sampleChartContainerId}}"
                                                   grp="{{TP}}"
                                                   chart-service="{{chartService}}"
                                                   ng-class="{'': !isActive, 'active': isActive}"
                                                   ng-init="isActive = false"
                                                   ng-click="isActive = !isActive">
                                                {{sc}}
                                            </label>
                                            <div data-toggle="tooltip" data-placement="bottom" title="Add Variable to export" ng-click="addCriterion(sc,'Transcription Profiling')" style="cursor:pointer; margin-left: -10px;"
                                                 class="flaticon-download164"></div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                <div id="samplePlots" class="assay-content text-center">
                        <h2>Under construction</h2>
                </div>
                <div class="clearfix"></div>
                <div class="subject" style="border-top: 1px solid #72879C">
                    <div class="option-list">
                        <ul id="subjChars">
                            <li ng-repeat="sc in sampleCharacteristics" >
                                <label id="samplec_{{sc}}"
                                       charting-button
                                       val="{{sc}}"
                                       active="{{isActive}}"
                                       container="{{sampleChartContainerId}}"
                                       section="{{section}}"
                                       grp="{{section}}"
                                       chart-service="{{chartService}}"
                                       ng-class="{'active': isActive}"
                                       ng-init="isActive = false"
                                       ng-click="isActive = !isActive">
                                    {{sc}}
                                </label>
                                <!-- <div data-toggle="tooltip" data-placement="bottom" title="Add Variable to export" ng-click="addCriterion(sc,'Transcription Profiling')" style="cursor:pointer; margin-left: -10px;"
                                      class="flaticon-download164"></div>-->
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <!--<div id="dataPlots" class="assay-content">
                &lt;!&ndash;<div class="subject" style="border-top: 1px solid #72879C">
                    <div class="option-list">
                        <ul>
                            <li ng-repeat="ef in expFactors" >
                                <label id="ef_{{ef}}"
                                       charting-button
                                       val="{{ef}}"
                                       active="{{isActive}}"
                                       container="{{sampleChartContainerId}}"
                                       section="{{section}}"
                                       grp="{{section}}"
                                       chart-service="{{chartService}}"
                                       ng-class="{'active': isActive}"
                                       ng-init="isActive = false"
                                       ng-click="isActive = !isActive">
                                    {{ef}}
                                </label>
                                &lt;!&ndash; <div data-toggle="tooltip" data-placement="bottom" title="Add Variable to export" ng-click="addCriterion(sc,'Transcription Profiling')" style="cursor:pointer; margin-left: -10px;"
                                      class="flaticon-download164"></div>&ndash;&gt;
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>&ndash;&gt;

                &lt;!&ndash;<div class="assay-factor-header">
                    <div style="float: left">
                        <span style=" padding-left: 15px;">Experimental Factors</span>
                    </div>
                    <span>
                       <a ng-click="isFactorsCollapsed = !isFactorsCollapsed">
                           Show Factors <span class="caret"></span></a>
                    </span>


                    <div collapse="isFactorsCollapsed">
                        <div>
                            <div class="section-block-content-option"  align="center">
                                <p>Select Factors</p>
                                <ul>
                                    <li ng-repeat="ef in expFactors" >
                                        <label id="ef_{{$index}}"
                                               charting-button val="{{ef}}" active="{{isActive}}"
                                               container="{{assayChartContainerId}}"
                                               grp="{{TP}}"
                                               chart-service="{{chartService}}"
                                               ng-class="{'': !isActive, 'active': isActive}"
                                               ng-init="isActive = false"
                                               ng-click="isActive = !isActive">
                                            {{ef}}
                                        </label>
                                        <div data-toggle="tooltip" data-placement="bottom" title="Add Variable to export" ng-click="addCriterion(ef,'Transcription Profiling')" style="cursor:pointer; margin-left: -10px;"
                                             class="flaticon-download164"></div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="assayPlots" style="min-height: 210px; padding:15px"></div>&ndash;&gt;

                &lt;!&ndash;<ng-include src="'explore/ISAviewer.html'"> </ng-include>&ndash;&gt;
            </div>-->
        </tab>

<!--        <tab class="odd">
            <tab-heading>
                <div class="assay-info" align="center">
                    <img src="img/assays/proteomics.svg">

                    <p class="assay-type">Protein expression Profiling</p>

                    <p class="assay-tech">RPPA</p>

                    <p class="assay-count">56 assays</p>
                    <i class="flaticon-download164" style="margin-left: 150px;cursor: pointer"
                       ng-click="addAssayGrp('Transcription Profiling')"></i>

                </div>
            </tab-heading>
           <div class="assay-content">TESTETSETS</div>
        </tab>
        <tab>
            <tab-heading>
                <div class="assay-info" align="center">
                    <img src="img/assays/proteomics.svg">

                    <p class="assay-type">Whole Genome sequencing</p>

                    <p class="assay-tech">Nucleotide sequencing</p>

                    <p class="assay-count">322 assays</p>
                    <i class="flaticon-download164" style="margin-left: 150px;cursor: pointer"
                       ng-click="addAssayGrp('Transcription Profiling')"></i>

                </div>
            </tab-heading>
            <div class="assay-content">TESTETSETS</div>
        </tab>
        <tab class="odd">
            <tab-heading>
                <div class="assay-info" align="center">
                    <img src="img/assays/proteomics.svg">

                    <p class="assay-type">Exome</p>

                    <p class="assay-tech">Nucleotide Sequencing</p>

                    <p class="assay-count">322 assays</p>
                    <i class="flaticon-download164" style="margin-left: 150px;cursor: pointer"
                       ng-click="addAssayGrp('Transcription Profiling')"></i>
                </div>
            </tab-heading>
            <div class="assay-content">TESTETSETS</div>
        </tab>
        <tab>
            <tab-heading>
                <div class="assay-info" align="center">
                    <img src="img/assays/proteomics.svg">

                    <p class="assay-type">Epigenomic profiling</p>

                    <p class="assay-tech">DNA methylation Sequencing</p>

                    <p class="assay-count">230 assays</p>
                    <i class="flaticon-download164" style="margin-left: 150px;cursor: pointer"
                       ng-click="addAssayGrp('Transcription Profiling')"></i>
                </div>
            </tab-heading>
            <div class="assay-content">TESTETSETS</div>
        </tab>
        <tab class="odd">
            <tab-heading>
                <div class="assay-info" align="center">
                    <img src="img/assays/proteomics.svg">

                    <p class="assay-type">Transcription profiling</p>

                    <p class="assay-tech">microRNA sequencing</p>

                    <p class="assay-count">322 assays</p>
                    <i class="flaticon-download164" style="margin-left: 150px;cursor: pointer"
                       ng-click="addAssayGrp('Transcription Profiling')"></i>
                </div>
            </tab-heading>
            <div class="assay-content">TESTETSETS</div>
        </tab>-->
    </tabset>
</div>

<div class="clearfix"></div>
