
        <div has-permission="can-manage" project="vm.projectId" class="title-action" style="display: none">
            <a  ng-click="vm.saveActivity()" class="btn btn-primary">Save</a>
        </div>

<div class="row">
    <div class="col-md-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 m-t-md">
                            <dl class="dl-horizontal">
                                <dt>Activity Title</dt>
                                <dd>
                                    <div class="col-md-6">
                                        <a href="#" e-required e-ng-model="vm.activity.name" e-placeholder="Enter Activity Name" editable-text="vm.activity.name"  blur="submit">{{vm.activity.name || 'Enter Activity Name'}}</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="ibox-title panel-header">
                    <span>Dataset Descriptor</span>
                     <span style="font-size:16px;margin-top:-5px;" class="pull-right">
                         <i class="p-xs fa fa-eye"> </i><i class="p-xs fa fa-download"> </i>
                         <a has-permission="can-manage" project="vm.projectId"  ng-click="vm.deleteDS()"><i class="p-xs fa fa-trash"> </i></a>
                            | <a ng-init="vm.creatingNewDS = false" ng-click="vm.creatingNewDS = !vm.creatingNewDS"><i uib-tooltip="Add Dataset Template" class="p-xs fa fa-plus"></i></a>
                        </span>
                </div>

                <div uib-collapse="!vm.creatingNewDS" class="ibox-content" style="min-height: 50px;margin: 0px;border: 10px solid white;background-color: rgb(243, 243, 244);">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-11">
                                <h3>Select a dataset descriptor</h3>
                            </div>
                            <div class="col-md-1"> <span class="pull-right"><a ng-click="vm.creatingNewDS=false" class="btn btn-white btn-lg"><i class="fa fa-times"></i></a> </span></div>

                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row m-b-sm m-t-sm">
                                    <div class="col-md-12">
                                        <div class="h5">Standard Dataset Descriptors</div>
                                        <div class="">
                                            <input ng-model="searchTemplate" type="text" placeholder="Search"
                                                   class="input-sm form-control"></div>
                                    </div>
                                </div>

                                <div class="ibox-content" style="height: 350px">


                                    <div class="activities-list" full-scroll>
                                        <div>
                                            <div class="feed-activity-list elements-list">

                                                <div class="feed-element" ng-repeat="ds in vm.clinicaldomains | filter:{name: searchTemplate}">
                                                   <!-- <div class="row">

                                                        <div class="col-md-11">-->
                                                            <a ng-click="vm.showDSvars(ds)">
                                                                <div>
                                                                    <small class="pull-right text-navy">{{ds.class}}</small>
                                                                    <strong>{{ds.name}} - ({{ds.code}})</strong>

                                                                    <div>{{ds.description}}</div>
                                                                    <small class="text-muted"><strong>Structure: </strong>{{ds.structure}}</small>
                                                                </div>

                                                            </a>
                                                        <!--</div>-->
                                                        <!--<div class="col-md-1">
                                                            <a> <i class="fa fa-info"></i></a><a><i class="fa fa-plus-square-o"></i></a>
                                                        </div>-->
                                                    <!--</div>-->



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--FIELD INFO-->
                            <div ng-show="vm.showDS" style="border-left: white 1px solid;" class=" m-b-sm m-t-sm col-md-5">
                                <div class="ibox-title"><strong>{{vm.showDS.name}} descriptor fields</strong>
                                    <span class="pull-right"><a ng-click="vm.selectTemplate(vm.showDS);vm.creatingNewDS=false" class="btn btn-xs btn-primary">Use this descriptor</a></span>
                                </div>
                                <div class="ibox-content" style="height: 350px">
                                    <div class="activities-list" full-scroll>
                                        <div class="full-height-scroll">
                                            <table class="table table-hover no-margins">
                                        <thead>
                                            <tr>
                                                <th>Column</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="var in vm.showDS.variables">
                                                <td class="text-navy">
                                                    <small>{{var.name}}</small>
                                                </td>
                                                <td>{{var.label}}</td>
                                                <td >{{var.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-sm-4">
                                <button class="btn btn-white btn-sm" ng-click="vm.cancelAddVariableToDS()"
                                        type="submit">Cancel
                                </button>
                                <button class="btn btn-primary btn-sm" ng-click="vm.addVariableToDS()" type="submit">Add
                                    Field
                                </button>
                            </div>-->


                        </div>


                    </form>
                </div>

                <div class="ibox-content" ng-if="vm.activity.datasets.length === 0">
                    <div uib-alert class="alert-info">
                        <h4>No associated templates set for this activity. Pleae click on the '+' icon above to define a dataset template for this activity.</h4>
                    </div>
                </div>

                <uib-tabset  ng-if="vm.activity.datasets.length > 0" class="tab-panel" active="vm.activeTabIndex" >

                    <uib-tab  ng-repeat="ds in vm.activity.datasets" select="vm.tabSelected(ds)">
                        <uib-tab-heading>
                            <p class="tab-info">{{ds.domainId}} : {{ds.name}}</p>
                            <p class="tab-info">
                                <i class="fa fa-list-alt"></i>
                            </p>
                            <!--<p class="tab-info text-left" >-->
                            <!--<small>{{ds.description}}</small>-->
                            <!--</p>-->
                        </uib-tab-heading>

                        <div id="{{ds.id}}" class=" animated fadeIn" ng-show="ds">

                                <div class="ibox-title">
                                    <div class="ibox-tools">
                                        <a class="btn btn-primary btn-xs" ng-init="vm.creatingCfield = false" ng-click="vm.creatingCfield = !vm.creatingCfield;vm.createNewCfield()">New Descriptor field</a>
                                        <!--<a href="" class="btn btn-primary btn-xs">Preview Template</a>
                                        <a href="" class="btn btn-primary btn-xs">Download Template</a>-->
                                    </div>
                                </div>

                                <!--ADD FIELD DIV-->
                                <div uib-collapse="!vm.creatingCfield" class="ibox-content" style="min-height: 50px;margin: 0px;border: 10px solid white;background-color: rgb(243, 243, 244);">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <h3>Add New Field</h3>
                                            </div>
                                            <div class="col-md-1"> <span class="pull-right"><a ng-click="vm.cancelAddVariableToDS()" class="btn btn-white btn-lg"><i class="fa fa-times"></i></a> </span></div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Name</label>
                                                                    <input ng-model="vm.cField.label" type="text" placeholder="E.g. Averse Event Score" class="form-control">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label>Column Header</label>
                                                                    <input ng-model="vm.cField.name" type="text" placeholder="E.g. AESEVSCORE" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label>Description</label>
                                                                    <textarea class="form-control" ng-model="vm.cField.description"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label>Type</label>
                                                                    <select class="form-control" ng-model="vm.cField.varType">
                                                                        <option ng-repeat="t in vm.varTypes">{{t}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Data Type</label>
                                                                    <select class="form-control" ng-model="vm.cField.dataType">
                                                                        <option ng-repeat="t in vm.dataTypes">{{t}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Role</label>
                                                                    <select class="form-control" ng-model="vm.cField.roleId">
                                                                        <option ng-repeat="t in vm.roleTypes">{{t}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                        </div>


                                                    </div>
                                                    <!--VARIABLES-->
                                                    <div class="col-md-6">
                                                        <label>Variables</label>
                                                        <div class="search-input">
                                                            <input ng-model="searchField" type="text" placeholder="Search fields " class="input input-sm form-control">
                                                            <i class="fa fa-search"></i>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="field-list">
                                                                <ul>
                                                                    <li data-drag="true" data-jqyoui-options="{revert: 'invalid',helper:'clone'}"
                                                                        ng-model="var"
                                                                        jqyoui-draggable="{animate:true,placeholder:true,placeholder:'keep',onStart:'vm.prepareEE(var)',dropModel:'ee'}"
                                                                        ng-repeat="var in ds.variables | filter:searchField"
                                                                        ng-click="vm.fieldInfo(var)">
                                                                        <a> <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i> {{var.label}}</a></li>
                                                                    <!--ng-class="{'': !isActive, 'selected': isActive}"-->
                                                                    <!--ng-init="isActive = false"-->
                                                                    <!--ng-click="isActive = !isActive"-->

                                                                </ul>
                                                            </div>
                                                            <!--<button type="button" class="btn btn-default btn-xs pull-right m-t-xs btn-outline">Insert Function</button>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--EXPRESSION DIV-->
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label>Expression</label>
                                                            <button ng-click="vm.clearExpression()"class="btn btn-default btn-xs pull-right">Clear</button>
                                                        </div>


                                                        <div style="background-color: white; border:1px solid lightgrey;  height: 142px;overflow: scroll; margin-top:3px">

                                                            <!--DIV FOR SIMPLE EXPRESSIONS-->
                                                            <div class="expression"

                                                                 data-drop="true"
                                                                 ng-model='vm.expressionList'
                                                                 jqyoui-droppable="{multiple:true,onDrop:'vm.updateEEseq',beforeDrop: 'vm.beforeDropOverExpressionDiv()'}" style=" height:100%">
                                                                <ul>
                                                                    <li ng-repeat="e in vm.expressionList track by $index"
                                                                        data-drag="true"
                                                                        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                                                        ng-model="vm.expressionList" jqyoui-draggable="{index: {{$index}},animate:true}">

                                                                        <!--STRING LITERAL-->
                                                                        <span ng-if="e.type == 'syntax' || e.type == 'op'"style="color: #d77329;">{{e.val}}</span>

                                                                        <!-- Droppable VARIABLE-->
                                                                        <div ng-if="e.type=='var'"
                                                                             class="droppable"
                                                                             data-drop="true"
                                                                             ondragenter=""
                                                                             jqyoui-droppable="{index: {{e.seq}},beforeDrop: 'vm.beforeDropOverExpressionElement(e)', onDrop:'vm.varDropped(e)'}"
                                                                             data-ng-model="e.temp">

                                                                            <!-- Dropped element-->
                                                                            <span class="dropped-pill" ng-show="e.temp.val">
                                                                                <!--<a  ng-click="vm.remFromExpression(e)" style="padding-right: 5px;" >-->
                                                                                <!--<i class="fa fa-times"></i></a>-->
                                                                                <span>{{e.temp.display}}</span>
                                                                            </span>
                                                                            <!-- end of Dropped element-->


                                                                            <!-- User input if element not dropped-->
                                                                            <!--THIS IS REALLY NEVER USED SHOULD CONSIDER REMOVING IF USER WILL NOT
                                                                            BE ALLOWED TO ENTER THE VARIABLE BY HAND-->
                                                                            <input placeholder="Insert field here"
                                                                                   ng-model="e.temp.val"
                                                                                   ng-hide="e.temp.val"
                                                                                   ng-disabled="true"
                                                                                   style="background-color:transparent!important; font-size:12px;
                                                                                   border: none;
                                                                                   outline: 0;
                                                                                   height: 1.666666em;
                                                                                   margin: 5px 0px;">
                                                                            <!-- End of User input-->

                                                                        </div>

                                                                        <!-- Droppable Multiple VARIABLE-->
                                                                        <div ng-if="e.type=='multivar'"
                                                                             data-drop="true"
                                                                             class="droppable"
                                                                             jqyoui-droppable="{multiple:true, beforeDrop: 'vm.beforeDropOverExpressionElement(e)',onDrop:'vm.varDropped(e)'}"
                                                                             data-ng-model="e.vars">

                                                                            <!-- Dropped element-->
                                                                            <span ng-repeat="v in e.vars" class="dropped-pill">
                                                                                <!--<a  ng-click="vm.remFromExpression(e)" style="padding-right: 5px;" >-->
                                                                                <!--<i class="fa fa-times"></i></a>-->
                                                                                <span class="pill">{{v.display}}</span>
                                                                            </span>
                                                                            <!-- end of Dropped element-->

                                                                            <!-- User input if element not dropped-->
                                                                            <!--NOT USED-->
                                                                            <input placeholder="Insert field here"
                                                                                   ng-model="e.val"
                                                                                   ng-hide="e.vars.length > 0"
                                                                                   ng-disabled="true"
                                                                                   style="background-color:transparent!important; font-size:12px;
                                                                                   border: none;
                                                                                   outline: 0;
                                                                                   height: 1.666666em;
                                                                                   margin: 5px 0px;">
                                                                            <!-- End of User input-->
                                                                        </div>

                                                                        <!--Droppable VALUE-->
                                                                        <div ng-if="e.type == 'param' "
                                                                             style="padding: 3px;border-radius:5px; border-left: 1px solid #e7eaec;border-right: 1px solid #e7eaec;margin: 3px; display: inline;"
                                                                             data-drop="true"
                                                                             jqyoui-droppable="{index: {{e.seq}},onDrop:'vm.dropTerm(e)',beforeDrop: 'vm.beforeDropOverExpressionElement(e)'}"
                                                                             data-ng-model="e.param">

                                                                            <!-- Dropped element-->
                                                                            <span class="dropped-pill" ng-show="e.param">
                                                                                <!--<a  ng-click="vm.remFromExpression(e)" style="padding-right: 5px;" >-->
                                                                                <!--<i class="fa fa-times"></i></a>-->
                                                                                <span>{{e.display}}</span>
                                                                            </span>
                                                                            <!-- end of Dropped element-->

                                                                            <!-- User input if element not dropped-->
                                                                            <input placeholder="Type or drag term"
                                                                                   ng-model="e.val"
                                                                                   ng-hide="e.param"
                                                                                   ng-change="vm.inputChanged(e)"
                                                                                   style="background-color:transparent!important; font-size:10px;
                                                                                   border: none;
                                                                                   outline: 0;
                                                                                   height: 1.666666em;
                                                                                   width:50px;
                                                                                   text-align: center;
                                                                                   margin: 10px 0px;">
                                                                            <!-- End of User input-->
                                                                        </div>

                                                                    </li>
                                                                    <li class="placeholder" ng-hide="vm.expressionList.length>0">Drag a function or a field here</li>

                                                                </ul>

                                                            </div>

                                                            <!--DIV IF FUNCTION TEMPLATES ARE USED-->
                                                            <!--<div ng-if="vm.cField.usingFunc" style="display: inline;" ng-repeat="e in vm.cField.expressionList track by e.seq">-->

                                                                <!--&lt;!&ndash;STRING LITERAL&ndash;&gt;-->
                                                                <!--<span ng-if="e.type == 'syntax'" style="color: #d77329;">{{e.val}}</span>-->

                                                                <!--&lt;!&ndash; Droppable VARIABLE&ndash;&gt;-->
                                                                <!--<div ng-if="e.type=='var'"-->
                                                                     <!--style="padding: 3px;border-radius:5px; border-left: 1px solid #e7eaec;border-right: 1px solid #e7eaec;margin: 3px; display: inline;"-->
                                                                     <!--data-drop="true"-->
                                                                     <!--jqyoui-droppable="{index: {{e.seq}},beforeDrop: 'vm.beforeDrop(e)'}"-->
                                                                     <!--data-ng-model="e">-->

                                                                    <!--&lt;!&ndash; Dropped element&ndash;&gt;-->
                                                                    <!--<span class="dropped-pill" ng-show="e.val">-->
                                                                        <!--&lt;!&ndash;<a  ng-click="vm.remFromExpression(e)" style="padding-right: 5px;" >&ndash;&gt;-->
                                                                            <!--&lt;!&ndash;<i class="fa fa-times"></i></a>&ndash;&gt;-->
                                                                        <!--<span>{{e}}</span>-->
                                                                    <!--</span>-->
                                                                    <!--&lt;!&ndash; end of Dropped element&ndash;&gt;-->

                                                                    <!--&lt;!&ndash; User input if element not dropped&ndash;&gt;-->
                                                                    <!--<input placeholder="Insert field here"-->
                                                                           <!--ng-model="e.val"-->
                                                                           <!--ng-hide="e.val"-->
                                                                           <!--ng-disabled="true"-->

                                                                           <!--style="background-color:transparent!important; font-size:12px;-->
                                                                           <!--border: none;-->
                                                                           <!--outline: 0;-->
                                                                           <!--height: 1.666666em;-->
                                                                           <!--margin: 5px 0px;">-->
                                                                    <!--&lt;!&ndash; End of User input&ndash;&gt;-->
                                                                <!--</div>-->

                                                                <!--&lt;!&ndash; Droppable Multiple VARIABLE&ndash;&gt;-->
                                                                <!--<div ng-if="e.type=='multivar'"-->
                                                                     <!--style="padding: 3px 9px;border-radius:5px; border-left: 1px solid #e7eaec;border-right: 1px solid #e7eaec;margin: 3px; display: inline;"-->
                                                                     <!--data-drop="true"-->
                                                                     <!--jqyoui-droppable="{multiple:true, beforeDrop: 'vm.beforeDrop(e)'}"-->
                                                                     <!--data-ng-model="e.vars">-->

                                                                    <!--&lt;!&ndash; Dropped element&ndash;&gt;-->
                                                                    <!--<span ng-repeat="v in e.vars" class="dropped-pill">-->
                                                                        <!--&lt;!&ndash;<a  ng-click="vm.remFromExpression(e)" style="padding-right: 5px;" >&ndash;&gt;-->
                                                                            <!--&lt;!&ndash;<i class="fa fa-times"></i></a>&ndash;&gt;-->
                                                                        <!--<span>{{v.display}}</span>-->
                                                                    <!--</span>-->
                                                                    <!--&lt;!&ndash; end of Dropped element&ndash;&gt;-->

                                                                    <!--&lt;!&ndash; User input if element not dropped&ndash;&gt;-->
                                                                    <!--<input placeholder="Insert field here"-->
                                                                           <!--ng-model="e.val"-->
                                                                           <!--ng-hide="e.vars.length > 0"-->
                                                                           <!--ng-disabled="true"-->

                                                                           <!--style="background-color:transparent!important; font-size:12px;-->
                                                                           <!--border: none;-->
                                                                           <!--outline: 0;-->
                                                                           <!--height: 1.666666em;-->
                                                                           <!--margin: 5px 0px;">-->
                                                                    <!--&lt;!&ndash; End of User input&ndash;&gt;-->
                                                                <!--</div>-->

                                                                <!--&lt;!&ndash;Droppable VALUE&ndash;&gt;-->
                                                                <!--<div ng-if="e.type == 'param' "-->
                                                                     <!--style="padding: 3px;border-radius:5px; border-left: 1px solid #e7eaec;border-right: 1px solid #e7eaec;margin: 3px; display: inline;"-->
                                                                     <!--data-drop="true"-->
                                                                     <!--jqyoui-droppable="{index: {{e.seq}},onDrop:'vm.dropTerm(e)',beforeDrop: 'vm.beforeDrop(e)'}"-->
                                                                     <!--data-ng-model="e.param">-->

                                                                    <!--&lt;!&ndash; Dropped element&ndash;&gt;-->
                                                                    <!--<span class="dropped-pill" ng-show="e.param">-->
                                                                        <!--&lt;!&ndash;<a  ng-click="vm.remFromExpression(e)" style="padding-right: 5px;" >&ndash;&gt;-->
                                                                            <!--&lt;!&ndash;<i class="fa fa-times"></i></a>&ndash;&gt;-->
                                                                        <!--<span>{{e.display}}</span>-->
                                                                    <!--</span>-->
                                                                    <!--&lt;!&ndash; end of Dropped element&ndash;&gt;-->

                                                                    <!--&lt;!&ndash; User input if element not dropped&ndash;&gt;-->
                                                                    <!--<input placeholder="Type or drag term"-->
                                                                           <!--ng-model="e.val"-->
                                                                           <!--ng-hide="e.param"-->
                                                                           <!--ng-change="vm.inputChanged(e)"-->
                                                                           <!--style="background-color:transparent!important; font-size:10px;-->
                                                                           <!--border: none;-->
                                                                           <!--outline: 0;-->
                                                                           <!--height: 1.666666em;-->
                                                                           <!--width:50px;-->
                                                                           <!--margin: 10px 0px;">-->
                                                                    <!--&lt;!&ndash; End of User input&ndash;&gt;-->
                                                                <!--</div>-->

                                                            <!--</div>-->
                                                            <!--{{vm.cField.expressionList}}-->
                                                        </div>
                                                        <div class="m-b-sm">
                                                            <button ng-click="vm.addOperator('+')" class="btn btn-white btn-sm"><i class="fa fa-plus"></i></button>
                                                            <button ng-click="vm.addOperator('-')" class="btn btn-white btn-sm"><i class="fa fa-minus"></i></button>
                                                            <button ng-click="vm.addOperator('x')" class="btn btn-white btn-sm"><i class="fa fa-times"></i></button>
                                                            <button ng-click="vm.addOperator('/')" class="btn btn-white btn-sm"><strong>/</strong></button>
                                                            <button ng-click="vm.addOperator('(')" class="btn btn-white btn-sm"><strong>(</strong></button>
                                                            <button ng-click="vm.addOperator(')')" class="btn btn-white btn-sm"><strong>)</strong></button>
                                                        </div>
                                                    </div>
                                                    <!--FUNCTIONS-->
                                                    <div class="col-md-6">
                                                        <label>Functions</label>

                                                        <div class="search-input">
                                                            <input ng-model="searchFunction" type="text" placeholder="Search functions " class="input input-sm form-control" style="">
                                                            <i class="fa fa-search"></i>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="field-list">
                                                                <ul>
                                                                    <li ng-repeat="func in vm.computeFunctions | filter:searchFunction"ng-model="vm.func" >
                                                                        <a ng-click="vm.addFunc(func)"> <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i> {{func.name}}</a></li>
                                                                    </li>

                                                                    <!--ng-class="{'': !isActive, 'selected': isActive}"-->
                                                                    <!--ng-init="isActive = false"-->
                                                                    <!--ng-click="isActive = !isActive"-->

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--FIELD INFO-->
                                            <div ng-show="vm.showFieldInfo" style="height: 348px;border-left: white 1px solid;" class="col-md-4">
                                                <div class="form-group">
                                                    <label>Data Type</label>
                                                    <div style="text-transform: capitalize">{{vm.selField.dataType}}</div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <div>{{vm.selField.description}}</div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Controlled Terms</label>
                                                    <div class="search-input">
                                                        <input ng-model="searchTerm" type="text" placeholder="Search fields " class="input input-sm form-control">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                    <div class="field-list">
                                                        <ul>
                                                            <li data-drag="true" data-jqyoui-options="{revert: 'invalid',helper:'clone'}"
                                                                ng-model="term" jqyoui-draggable="{animate:true,placeholder:true,placeholder:'keep'}"
                                                                ng-repeat="term in vm.dictTerms | filter:searchTerm">
                                                                <a> <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i> {{term}}</a></li>
                                                            <!--ng-class="{'': !isActive, 'selected': isActive}"-->
                                                            <!--ng-init="isActive = false"-->
                                                            <!--ng-click="isActive = !isActive"-->

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-sm-4">
                                                <button class="btn btn-white btn-sm" ng-click="vm.cancelAddVariableToDS()" type="submit">Cancel</button>
                                                <button class="btn btn-primary btn-sm" ng-click="vm.addVariableToDS()" type="submit">Add Field</button>
                                            </div>


                                        </div>

                                    </form>
                                </div>

                                <!--DATASET  VARIABLES-->
                                <div class="ibox-content">
                                    <h3>Select columns to include in this template</h3>

                                    <!--FOO TABLE-->
                                    <table id="bs_template_tbl" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                        <thead>
                                        <tr>
                                            <th data-toggle="true">Column</th>
                                            <th>Variable Name</th>
                                            <th>Include</th>
                                            <th data-hide="phone">Mandatory</th>
                                            <th data-hide="phone">Description</th>
                                            <th data-hide="phone">Controlled Vocabulary</th>
                                            <!--<th data-hide="all">Order</th>
                                            <th data-hide="all">Key Sequence</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="var in ds.variables">
                                            <td>
                                                {{var.name}}
                                            </td>
                                            <td>
                                                {{var.label}}
                                            </td>
                                            <td>
                                                <!--<button type="button" class="btn btn-xs btn-primary" ng-model="var.isSelected" btn-checkbox>
                                                    {{var.isSelected ? 'Included' : 'Excluded'}}
                                                </button>-->
                                                <input  icheck type="checkbox"  ng-model="var.isSelected" >
                                            </td>
                                            <td>
                                                <input  icheck type="checkbox"  ng-model="var.isRequired" >
                                            </td>
                                            <td>
                                                {{var.description}}
                                            </td>
                                            <td>
                                                {{var.dictionaryName}}
                                            </td>
                                <!--            <td>
                                                <a href="#" e-ng-model="var.orderNumber" editable-text="var.orderNumber" buttons="no" blur="submit">{{var.orderNumber || "Undefined"}}</a>
                                            </td>
                                            <td>
                                                <a href="#" e-ng-model="var.keySequence" editable-text="var.sequence" buttons="no" blur="submit">{{var.keySequence || "Undefined"}}</a>
                                            </td>-->
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>

                    </uib-tab>
                    <!--<uib-tab>
                        <uib-tab-heading class="assay-info" align="center">
                            <p class="assay-count">
                                No Template Selected
                            </p>
                        </uib-tab-heading>
                        &lt;!&ndash;No Template Info&ndash;&gt;
                        <div ng-hide="vm.activity.datasets.length > 0" class="ibox-content ibox-heading">
                            <h3>No Template Selected</h3>
                        </div>
                    </uib-tab>-->



                </uib-tabset>
            </div>
        </div>
    </div>

</div>
