<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <!--<div ng-include="'layout/navigation.html'"></div>-->

    <!-- Page wrapper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <div ng-include="'layout/topnavbar.html'"></div>

        <!-- Main view  -->
        <div ui-view></div>
        <!-- Footer -->
        <div ng-include="'layout/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->