<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element">
                    <img alt="image" class="img" src="img/IMG_0208.jpg"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Ibrahim Emam</strong>
                             </span>
                                <span class="text-muted text-xs block">Data Manager<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <!--<li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>-->
                        <li class="divider"></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="divider"></li>
            <li><h6>Projected Selected: {{$rootScope.currentProject.id}}</h6></li>
            <li class="divider"></li>
            <li><a ui-sref="explore.main({studyId:'P-BVS'})">Explore</a></li>
            <li><a ui-sref="datastage.files({studyId:'P-BVS'})">Data Stage</a></li>
            <li><a ui-sref="manager({ studyId: 'STD-BVS-01' })">Configure</a></li>




        </ul>

    </div>
</nav>