<div class="row border-bottom">

    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
            <h4 class="" style="margin-bottom: 0px;margin-top: 0px;padding-top: 10px;    color: #fcfdff;font-size: 1.7em;">
                <a ng-click="vm.goBack()">
                    <span style="color: #fcfdff;font-size: 1.7em;padding: 50px;"><i class="fa fa-arrow-circle-left"></i></span>
                </a>
                <span style="padding-left: 50px;vertical-align: 7px;">{{vm.stateName}}</span>
            </h4>
        </div>
        <ul class="nav navbar-top-links navbar-right" style="padding: 15px;">
            <li>
                <div class="user-nav-control" uib-dropdown>
                    <a uib-dropdown-toggle uib-tooltip="Logged in as {{currentUser.username.toLowerCase()}}" tooltip-placement="bottom" ><i class="fa fa-user-circle-o fa-2x"></i></a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <!--<li><a ui-sref="app.profile">Profile</a></li>-->
                        <!--<li class="divider"></li>-->
                        <li><a ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>
<toaster-container></toaster-container>
