body {
    /*font-family: "Open Sans";*/
    /*font-size: 2.0em;*/
    background-color: #f0f0f0;
}

a {
    color: #23C6C8;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #39C2D7;
    text-decoration: none;
}

.top-bar {
    background-color: #2C3E50;
    height: 4em;
    color: #fff;
    /*z-index: 410;*/
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    /*position: fixed;*/
    width: 100%;
}

.content {
    /*width: 90%;*/
    margin: 0 auto;
    
}

.login {
    font-size: .5em;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 3.3em;
}

.login .username {
    color: #39C2D7;
}

.top-search-form {
    margin-left: 50px;
    margin-top: 1em;
}

.top-search-form input {
    font-size: .5em;
    border: 1px solid white;
    background: transparent;
    margin-left: -8px;
    padding: 3px 6px;
    padding-top: 2px;
    color: #fff;
}

.submit {
    background-color: #39C2D7;
    border: 1px solid white;
    font-size: .52em;
    color: #fff;
    margin-left: -8px;

}

.submit:hover {
    background-color: #00b5d5;
}

.menu {
    margin-left: -20px;
}
.menu a{
    color: white;
}

.menu ul {
    list-style: none;
    font-size: .6em;
    margin-top: 2.5em;
    text-transform: uppercase;
}

.menu ul li {
    float: left;
    margin-right: 10px;
}

/*breadcrumbs*/

.breadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;

}

.breadcrumbs ul {

    font-size: .5em;
    list-style: none;
    color: #39C2D7;
    font-weight: bolder;
    -webkit-padding-start: 0px;
}

.breadcrumbs ul li {
    float: left;
    margin-right: 2px;
}

.breadcrumbs ul li.active a {
    color: #2C3E50;
}

.breadcrumbs a {
    color: #39b3d7;
    text-decoration: none;
}

/*study details section*/

.description {
    margin-top: 20px;
    background-color: #2C3E50;
    color: #fff;
    padding-top: .7em;
    padding-bottom: .9em;
}

.description h3 {
    margin-top: 0;
    font-size: .9em;
}

.description p {
    font-size: .6em;
    margin-bottom: 0;
}

/********************************/

/*nav {
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    font-size: 0.7em;
}
nav li, nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}
nav li, nav a {
    display: inline-block;
}
nav a {
    padding: 20px;
    color: #333;
    text-decoration: none;
}*/
/*section {
    padding: 100px 0 30px 0;
}*/

/***********************************/

.panel {
    background-color: #F1F2F2;
    margin-bottom: 19px;
    /*background-color: #fff;*/
    /*float: left;*/
    /*margin: .5%;*/
    /*margin-top: .5em;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 10px;
    border: 0;
}

.panel-header {
    /*background-color: #35495E;*/
    /*background-color: #304A54;*/
    background-color: #2C3E50;
    height: 45px;
    text-transform: uppercase;
    color: white;
}

.panel-header h3 {
    margin: 0;
    /*font-size: .6em;*/
    text-transform: uppercase;
    color: white;
    padding: 15px;
}

.panel-content{
    background: #f1f2f1;
    /*min-height: 430px;*/
    /*font-size: .8em;*/
    font-size: .9em;
    /*//font-family: helvetica;*/
}

.subject-panel {
    width: 72%;

}

.export-panel {
    width: 25%;

}

.subject {
    /*margin: 14px;*/
    padding: 8px;
    padding-top: 15px;
    font-size: .6em;
    /*border-bottom: 1px solid #35495E;*/
}

.export{
    margin: 14px;
    padding: 8px;
    padding-top: 15px;
    font-size: .6em;
    border-bottom: 1px solid #f1f2f1;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.export ul{
    padding-left: 10px;
    list-style-type: disc;
}

.export h2{
    text-transform: uppercase;
    font-size: .6em;

    font-family: sans-serif;
    font-weight: bold;
    color: #35495E;
}

.export .authors, .journal, .pmed {
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 3px;
}

.export .pmed span {
    color: #39b3d7;
}

.assay-panel {
    /*margin-top: 30px;*/

}

.assay-panel > ul {
    background-color: #2C3E50;
    margin-top: -2px;
    list-style: none;
    overflow: scroll;
    font-weight: bolder;
    -webkit-padding-start: 0px;
    height: 136px;
    border: 0;
}

.assay-panel > ul li {
    background-color: #2C3E50;
    float: left;
    width: 20%;
    /*height: 121px;*/
}

.assay-panel > ul li.odd {
    background-color: #35495E;
    float: left;
    width: 20%
}

.assay-panel ul li > a {
    /*background-color: #2C3E50;*/
    border-radius: 0;
    border: 0;
}

.assay-panel ul li > a:hover {
    background-color: #3e5267;
    border: 0;
}

.assay-panel ul li.active a {
    background-color: #2BAFC7; /*#2BAFC7;*/
    border: 0;
    margin: 0;
}
.assay-panel ul li.active a:focus {
    background-color: #2BAFC7;
    margin:0;
}
.assay-panel ul li.active a:hover {
    background-color: #2cc6de; /*#2BAFC7;*/
    border: 0;
}

.assay-panel .assay-info {
    padding: 10px;
    color: white;
    /*font-size: .5em;*/
}
.assay-panel .assay-info img {
    height: 20px;
    margin-bottom: 10px;
}

.assay-panel .assay-info p {
    margin: 0 0 5px;
}


.assay-panel .assay-info .assay-count {
    color:#CDFF3B;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
}

.assay-panel .assay-info .assay-tech {
    font-weight: lighter;
    font-size: .7em;
}



.assay-content{
    background-color: #F1F2F1;
    border-top: 15px solid #2BAFC7;
    min-height: 250px;
    padding-left:20px;
    overflow: scroll;
}

.assay-content .assay-sample-header, .assay-factor-header{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 0.7em;
    height: 35px;
    /*background-color: #54BAD8;*/
    background-color: #2b9cc7;
    color: white;
    padding-top: 8px;
    padding-bottom: 10px;
}

.assay-sample-header a, .assay-factor-header a{
    margin-left: 25px;
    color: #ffffff;
    /* margin-top: 5px; */
    font-size: 0.5em;
    border: 1px solid white;
    padding: 2px 5px;
    cursor: pointer;
}
.assay-sample-header .assay-factor-header a.selected{
    background-color: #019baa;
    color: #eeede9;
}

#study-design, #clinical-data, #molecular-data{
    margin-top: 30px;
}

.section-block-header {
    height: 35px;
    background-color: #2C3E50;
    color: white;
    padding-left: 35px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid #35495E;

}

.section-block-header h3 {
    margin: 0;
    /*font-size: .7em;*/
}

.section-block-content {
    background: #f1f2f1;
    min-height: 150px;
    font-size: .5em;
}

.section-block-content-option {
    /*background: #39C2D7;*/
    background: #2b9cc7;
    text-transform: uppercase;
    color: #fff;
    min-height: 150px;
    opacity: .9;
    padding: 1em;
    margin-top:6px;
}

.section-block-content-option ul {
    padding-top: 10px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    font-size: .5em;
    padding-left: 5px;
}

.section-block-content-option ul li {
    float:left;
    margin: .5em;


}

.section-block-content-option ul li label {
    border: 1px solid white;
    padding: 2px 10px;
    cursor: pointer;
}

.section-block-content-option ul li label.active {
    background-color: white;
    color:#39b3d7;
}

.section-block-content-option p {
    margin: 0;
}

.section-block-content-option .option-buttons {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: .9em;
}

/*footer*/
.footer {
    /*position:fixed;*/
    /*left:0;*/
    /*bottom:0;*/
    /*height:4em;*/
    /*width:100%;*/
    /*background-color: #2C3E50;
    color: #fff;*/
}


/*Subject Panel*/
.plots-view {
    /*min-height: 280px;*/
    background-color: #F1F2F2;
    padding:20px;
    overflow: scroll;

    /*height: 300px;*/
    /*margin: 20px;*/
    /*width: 300px;*/
    /*position: relative;*/
    /*resize: vertical;*/
    /*overflow: auto;*/
}

.plots-flex-container{
    background-color: #F1F2F2;
    padding:20px;
    overflow: scroll;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
    -webkit-justify-content: space-between;
    justify-content:         space-between;
    -webkit-align-items: center;
    align-items:         center;
}

.table-view {
    max-height: 280px;
    padding: 20px;
    overflow: scroll;
    border-top: 1px solid #ABDDE9;
    margin: 10px;
    border-bottom: 10px solid white;
}

.models-list {
    padding-top: 5px;
}

.models-list ul:first-child{
    list-style: none;
    display: table;
    width: 100%;
    padding-left:0;
}

.clinical-section ul{
    display: block;;
}

.models-list ul li{
    float: none;
    margin: .5em;
    text-align: center;
    display: table-cell;
}

.models-list p{
    margin: 0 0 5px;

}

.models-list .model-name{
    /*font-size: 0.6em;*/
    text-transform: uppercase;
    color: #35495E;
    font-weight: bold;

}

.models-list .model-icon{
    font-size: 2em;
    color: #2C3E50;
}
.models-list .model-count{
    font-size: 1em;
    /* margin-left: -20px; */
    /* border: 1px solid; */
    /* padding: 2px; */
    font-weight: bold;
    font-family: sans-serif;
    color: #23c6c8;
}



.option-list ul {
    list-style: none;
    color: #414042;
    font-size: 1.5em;
    font-weight: normal;
    -webkit-padding-start: 10px;
}

.option-list ul li {
    display: inline-block;
    /*width: 10%;*/
    position: relative;
}

.option-list ul li label {
    opacity: 1;
    background: url("../img/icons/unselected_dark.svg") 10px no-repeat;
    padding-left: 38px;
    //margin: 20px;
    background-size: 20px;
    cursor: pointer;
}

.option-list ul li label.active {
    opacity: 1;
    font-weight: normal;
    background: url("../img/icons/selected_dark.svg") 10px no-repeat;
    padding-left: 38px;
    background-size: 20px;
}

.option-list ul li label.hide {
    display: none;
    opacity: 1;
    font-weight: normal;
    background: url("../img/icons/selected_dark.svg") 10px no-repeat;
    padding-left: 38px;
    background-size: 20px;
}

.subject-chart {
    width: 200px;
    height: 170px;
}

.subject-chart h2 {
    text-transform: uppercase;
    font-size: .6em;

    font-family: sans-serif;
    font-weight: bold;
    color: #35495E;
}
.subject-chart h2{
    text-align: center;
}

/*.content-clinical ul {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
    /*width: 250px; *//* Width of Menu Items */
    /*border-bottom: 1px solid #ccc;*/
/*}*/

/*.content-clinical ul li {*/
    /*position: relative;*/
/*}*/

/*.content-clinical li ul {*/
    /*position: absolute;*/
    /*left: 249px; *//* Set 1px less than menu width */
    /*top: 0;*/
    /*display: none;*/
/*}*/

/*.content-clinical ul li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*color: #777;*/
    /*background: #fff;*/
    /*padding: 5px;*/
    /*border: 1px solid #ccc; *//* IE6 Bug */
    /*border-bottom: 0;*/
/*}*/

/*.content-clinical li:hover ul {*/
    /*display: block;*/
    /*overflow-x: inherit;*/
    /*overflow-y: scroll;*/
    /*height: auto;*/
    /*border-left: none} *//*  The magic */

.cd-dropdown-submenu{
    position:relative;
}
.cd-dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
    max-height: inherit;
}
.cd-dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.cd-dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.cd-dropdown-menu{
    display: block;
    position: static;
    margin-bottom: 5px;
    width: 180px;
}

#subjChars li{
    display: inline-block;
    /*width: 10%;*/
    position: relative;

}

.dc-chart{
    /*margin-right: 50px;*/
}

.dc-chart .x.axis text {
    text-anchor: end !important;
    font-size: 0.8em;
    font-weight: bold;
    transform: rotate(-20deg);
}

.dc-chart .x-axis-label{
    font-weight: bold;
    font-size: 0.8em;
    color: #35495E;
}

.dc-chart .pie-slice {
    fill: white;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: bold;
}

.dc-data-table {
    color: #666;
    font-size: 0.8em;
}
.dc-data-table .dc-table-head{
    padding: 10px;
    background-color: rgba(0, 153, 188, 0.33)
}
.dc-data-table .dc-table-group
{
    background-color: rgba(57, 194, 215, 0.12);
}
.chart-title {
    text-transform: uppercase;
    font-size: .9em;
    padding-top: 5px;
    font-family: sans-serif;
    font-weight: 900;
    color: #35495E;
    padding-left: 10px;
}

.chart-title .reset, .chart-title .filter {
    font-size: .7em;
    padding-left: 10px;
    /*display: none;*/
}

.img-dashboard{
    width: 100px;
    height: 100px;
}


.chart-options{
    margin-right: 10px;
    display: none;
}
.chart-options ul{
    list-style: none;
    /*color: #39b3d7;*/
    display: table;
    width: 100%;
    padding-left:0;
}
.chart-options ul li{
    float: none;
    margin: .5em;
    text-align: center;
    display: table-cell;
}
.chart-options a{
    font-size: 15px;
    font-weight: normal;
    color: #2C3E50;
    -webkit-padding-start: 10px;
}



/*.assayDataTemplates-list ul li{*/
    /*float: none;*/
    /*margin: .5em;*/
    /*text-align: center;*/
    /*display: table-cell;*/
/*}*/
.ibox-footer{
    height: 75px;
}


a.editable-click {
    color: green;
    border-bottom: dotted 2px green;
}
a.editable-select {
    color: green;
    border-bottom: dotted 2px green;
}

.tab-panel{

}

.tab-panel > ul {
    background-color: #254154;
    /*margin-top: -2px;*/
    list-style: none;
    /*overflow: scroll;*/
    font-weight: bolder;
    -webkit-padding-start: 0px;
    height: 220px;
    border: 0;
    /*display: table;*/
    width: 100%;
    color:white;
}

.tab-panel > ul li {
    background-color: #2C3E50;
    text-align: center;
    display: table-cell;
    float: none;
    width:33%;

}

.tab-panel > ul li.odd {
    background-color: #25495c;
    /*float: left;*/
    /*width: 20%*/
}

.tab-panel ul li > a {
    /*background-color: #2C3E50;*/
    border-radius: 0;
    border: 0;
    margin-right:0;
    height: 220px;
}

.tab-panel ul li > a:hover {
    background-color: #2C3E50;
    border: 0;
    margin:0
}

.tab-panel ul li.active a {
    background-color: #00bfcd; /*#2BAFC7;*/
    border: 0;
    margin-right: 0;
}
.tab-panel ul li.active a:focus {
    background-color: #00bfcd;
    margin-right:0;
}
.tab-panel ul li.active a:hover {
    background-color: #00bfcd;
    border: 0;
}

.tab-panel .tab-info {
    padding-top: 10px;
    color: #F3F3F4;
    /*font-size: .5em;*/
}
.tab-panel .tab-info img {
    height: 70px;
    width:70px;
    margin-bottom: 10px;
}

.tab-panel .tab-info p {
    margin: 0 0 5px;
}


.tab-panel .assay-info .assay-count {
    color:#CDFF3B;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
}

.assay-panel .assay-info .assay-tech {
    font-weight: lighter;
    font-size: .7em;
}
