body {
    /*font-family: "Open Sans";*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Questrial', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    /*font-size: 2.0em;*/
    background-color: #f3f3f5;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #23C6C8;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #39C2D7;
    text-decoration: none;
}

.top-bar {
    background-color: #2C3E50;
    height: 4em;
    color: #fff;
    /*z-index: 410;*/
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    /*position: fixed;*/
    width: 100%;
}

.content {
    /*width: 90%;*/
    margin: 0 auto;
    
}

.login {
    font-size: .5em;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 3.3em;
}

.login .username {
    color: #39C2D7;
}

.top-search-form {
    margin-left: 50px;
    margin-top: 1em;
}

.top-search-form input {
    font-size: .5em;
    border: 1px solid white;
    background: transparent;
    margin-left: -8px;
    padding: 3px 6px;
    padding-top: 2px;
    color: #fff;
}

.submit {
    background-color: #39C2D7;
    border: 1px solid white;
    font-size: .52em;
    color: #fff;
    margin-left: -8px;

}

.submit:hover {
    background-color: #00b5d5;
}

.menu {
    margin-left: -20px;
}
.menu a{
    color: white;
}

.menu ul {
    list-style: none;
    font-size: .6em;
    margin-top: 2.5em;
    text-transform: uppercase;
}

.menu ul li {
    float: left;
    margin-right: 10px;
}

/*breadcrumbs*/

.breadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;

}

.breadcrumbs ul {

    font-size: .5em;
    list-style: none;
    color: #39C2D7;
    font-weight: bolder;
    -webkit-padding-start: 0px;
}

.breadcrumbs ul li {
    float: left;
    margin-right: 2px;
}

.breadcrumbs ul li.active a {
    color: #2C3E50;
}

.breadcrumbs a {
    color: #39b3d7;
    text-decoration: none;
}

/*study details section*/

.description {
    margin-top: 20px;
    background-color: #2C3E50;
    color: #fff;
    padding-top: .7em;
    padding-bottom: .9em;
}

.description h3 {
    margin-top: 0;
    font-size: .9em;
}

.description p {
    font-size: .6em;
    margin-bottom: 0;
}

/********************************/

/*nav {
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    font-size: 0.7em;
}
nav li, nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}
nav li, nav a {
    display: inline-block;
}
nav a {
    padding: 20px;
    color: #333;
    text-decoration: none;
}*/
/*section {
    padding: 100px 0 30px 0;
}*/

/***********************************/

.panel {
    background-color: #F1F2F2;
    margin-bottom: 19px;
    /*background-color: #fff;*/
    /*float: left;*/
    /*margin: .5%;*/
    /*margin-top: .5em;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 10px;
    border: 0;
}

.panel-header {
    /*background-color: #35495E;*/
    /*background-color: #304A54;*/
    background-color: #2C3E50;
    height: 45px;
    text-transform: uppercase;
    color: white;
    /*padding: 15px;*/
}

.panel-header h3 {
    margin: 0;
    /*font-size: .6em;*/
    text-transform: uppercase;
    color: white;
    /*padding: 15px;*/
}

.panel-header a{
    color: inherit;
}

.panel-content{
    background: #f1f2f1;
    /*min-height: 430px;*/
    /*font-size: .8em;*/
    font-size: .9em;
    /*//font-family: helvetica;*/
}

.subject-panel {
    width: 72%;

}

.export-panel {
    width: 25%;

}

.subject {
    /*margin: 14px;*/
    padding: 8px;
    padding-top: 15px;
    font-size: .6em;
    /*border-bottom: 1px solid #35495E;*/
}

.export{
    margin: 14px;
    padding: 8px;
    padding-top: 15px;
    font-size: .6em;
    border-bottom: 1px solid #f1f2f1;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.export ul{
    padding-left: 10px;
    list-style-type: disc;
}

.export h2{
    text-transform: uppercase;
    font-size: .6em;

    font-family: sans-serif;
    font-weight: bold;
    color: #35495E;
}

.export .authors, .journal, .pmed {
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 3px;
}

.export .pmed span {
    color: #39b3d7;
}

.assay-panel {
    /*margin-top: 30px;*/

}

.assay-panel > ul {
    background-color: #2C3E50;
    margin-top: -2px;
    list-style: none;
    overflow: scroll;
    font-weight: bolder;
    -webkit-padding-start: 0px;
    height: 136px;
    border: 0;
}

.assay-panel > ul li {
    background-color: #2C3E50;
    float: left;
    width: 20%;
    /*height: 121px;*/
}

.assay-panel > ul li.odd {
    background-color: #35495E;
    float: left;
    width: 20%
}

.assay-panel ul li > a {
    /*background-color: #2C3E50;*/
    border-radius: 0;
    border: 0;
}

.assay-panel ul li > a:hover {
    background-color: #3e5267;
    border: 0;
}

.assay-panel ul li.active a {
    background-color: #2BAFC7; /*#2BAFC7;*/
    border: 0;
    margin: 0;
}
.assay-panel ul li.active a:focus {
    background-color: #2BAFC7;
    margin:0;
}
.assay-panel ul li.active a:hover {
    background-color: #2cc6de; /*#2BAFC7;*/
    border: 0;
}

.assay-panel .assay-info {
    padding: 10px;
    color: white;
    /*font-size: .5em;*/
}
.assay-panel .assay-info img {
    height: 20px;
    margin-bottom: 10px;
}

.assay-panel .assay-info p {
    margin: 0 0 5px;
}


.assay-panel .assay-info .assay-count {
    color:#CDFF3B;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
}

.assay-panel .assay-info .assay-tech {
    font-weight: lighter;
    font-size: .7em;
}



.assay-content{
    background-color: #F1F2F1;
    border-top: 15px solid #2BAFC7;
    min-height: 250px;
    padding-left:20px;
    overflow: scroll;
}

.assay-content .assay-sample-header, .assay-factor-header{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 0.7em;
    height: 35px;
    /*background-color: #54BAD8;*/
    background-color: #2b9cc7;
    color: white;
    padding-top: 8px;
    padding-bottom: 10px;
}

.assay-sample-header a, .assay-factor-header a{
    margin-left: 25px;
    color: #ffffff;
    /* margin-top: 5px; */
    font-size: 0.5em;
    border: 1px solid white;
    padding: 2px 5px;
    cursor: pointer;
}
.assay-sample-header .assay-factor-header a.selected{
    background-color: #019baa;
    color: #eeede9;
}

#study-design, #clinical-data, #molecular-data{
    margin-top: 30px;
}

.section-block-header {
    height: 35px;
    background-color: #2C3E50;
    color: white;
    padding-left: 35px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid #35495E;

}

.section-block-header h3 {
    margin: 0;
    /*font-size: .7em;*/
}

.section-block-content {
    background: #f1f2f1;
    min-height: 150px;
    font-size: .5em;
}

.section-block-content-option {
    /*background: #39C2D7;*/
    background: #2b9cc7;
    text-transform: uppercase;
    color: #fff;
    min-height: 150px;
    opacity: .9;
    padding: 1em;
    margin-top:6px;
}

.section-block-content-option ul {
    padding-top: 10px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    font-size: .5em;
    padding-left: 5px;
}

.section-block-content-option ul li {
    float:left;
    margin: .5em;


}

.section-block-content-option ul li label {
    border: 1px solid white;
    padding: 2px 10px;
    cursor: pointer;
}

.section-block-content-option ul li label.active {
    background-color: white;
    color:#39b3d7;
}

.section-block-content-option p {
    margin: 0;
}

.section-block-content-option .option-buttons {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: .9em;
}

/*footer*/
.footer {
    /*position:fixed;*/
    /*left:0;*/
    /*bottom:0;*/
    /*height:4em;*/
    /*width:100%;*/
    /*background-color: #2C3E50;
    color: #fff;*/
}


/*Subject Panel*/
.plots-view {
    /*min-height: 280px;*/
    background-color: #F1F2F2;
    /*padding:20px;*/
    overflow: scroll;

    /*height: 300px;*/
    /*margin: 20px;*/
    /*width: 300px;*/
    /*position: relative;*/
    /*resize: vertical;*/
    /*overflow: auto;*/
}

.plots-flex-container{
    background-color: #F1F2F2;
    padding:20px;
    overflow: scroll;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
    -webkit-justify-content: space-between;
    justify-content:         space-between;
    -webkit-align-items: center;
    align-items:         center;
}

.table-view {
    max-height: 280px;
    padding: 20px;
    overflow: scroll;
    /*border-top: 1px solid #ABDDE9;*/
    /*margin: 10px;*/
    border-bottom: 10px solid white;

}
.clinical-section ul{
    display: block;;
}

.models-list .nav-tabs{
    border-bottom: 15px solid #4cced0;
}
.models-list > ul:first-child{
    list-style: none;
    display: table;
    width: 100%;
    padding-left:0;
}
.models-list > ul.nav li{
    float: none;
    margin: .5em;
    text-align: center;
    display: table-cell;
    background-color: #2c3e50;
    max-width: 100px;
}
.models-list > ul.nav li.odd {
    background-color: #35495E;
}
.models-list > ul.nav li > a{
    color: white;
}
.models-list ul.nav > li.active{
    background: #4cced0;
}
.models-list ul.nav > li > a:hover {
    border-radius:0;
}
.models-list ul.nav > li > a:hover p{
    color: #1d2b3d;
}
.models-list ul.nav > li.active > a{
    border: none;
}
.models-list p{
    margin: 0 0 3px;
    font-weight: 400
}
.models-list .model-name{
    font-size: 1.5em;
    text-transform: uppercase;
    color: #eee;
}
.models-list .model-icon{
    font-size: 2em;
    /*color: #eee;*/
    color:#CDFF3B;
}
.models-list .model-count{
    color:#CDFF3B;
    font-size: 0.7em;
    font-weight: bold;
    margin: 10px;
}



.cart-menu{
    margin-top: 0;
    position: fixed;
    width: 220px;
    z-index: 2001;
    height: 100%;
    background-color: #2C3E50;
    margin-left:-10px;
}

#explorer-wrapper .cart-menu.open{
    margin-left:200px;
}



.option-list ul {
    list-style: none;
    color: #414042;
    font-size: 1.5em;
    font-weight: normal;
    -webkit-padding-start: 10px;
}

.option-list ul li {
    display: inline-block;
    /*width: 10%;*/
    position: relative;
}

.option-list ul li label {
    opacity: 1;
    background: url("../img/icons/unselected_dark.svg") 10px no-repeat;
    padding-left: 38px;
    //margin: 20px;
    background-size: 20px;
    cursor: pointer;
}

.option-list ul li label.active {
    opacity: 1;
    font-weight: normal;
    background: url("../img/icons/selected_dark.svg") 10px no-repeat;
    padding-left: 38px;
    background-size: 20px;
}

.option-list ul li label.hide {
    display: none;
    opacity: 1;
    font-weight: normal;
    background: url("../img/icons/selected_dark.svg") 10px no-repeat;
    padding-left: 38px;
    background-size: 20px;
}

.subject-chart {
    width: 200px;
    height: 170px;
}

.subject-chart h2 {
    text-transform: uppercase;
    font-size: .6em;

    font-family: sans-serif;
    font-weight: bold;
    color: #35495E;
}
.subject-chart h2{
    text-align: center;
}



.cd-dropdown-submenu{
    position:relative;
}
.cd-dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
    max-height: inherit;
}
.cd-dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.cd-dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.cd-dropdown-menu{
    display: block;
    position: static;
    margin-bottom: 5px;
    width: 180px;
}

#subjChars li{
    display: inline-block;
    /*width: 10%;*/
    position: relative;

}

.dc-chart{
    /*margin-right: 50px;*/
}

.dc-chart .x.axis text {
    text-anchor: end !important;
    font-size: 0.7em;
    font-weight: bold;
    transform: rotate(-45deg);
}

.dc-chart .x-axis-label{
    /*font-weight: bold;*/
    font-size: 0.8em;
    color: #35495E;
}

.dc-chart .pie-slice {
    /*fill: white;*/
    /*cursor: pointer;*/
    /*font-size: 0.8em;*/
    /*font-weight: bold;*/
}

.fa {
    /*font-size: 1.7em;*/
}


.dc-data-table {
    color: #666;
    font-size: 0.8em;
}
.dc-data-table .dc-table-head{
    padding: 10px;
    background-color: #f5f5f5
}
.dc-data-table .dc-table-group
{
    background-color: rgba(57, 194, 215, 0.12);
}

div .dc-chart{
    float: none;
}

.progress-bar  {

}

.progress-bar {
    background-color: #f3b27f;
}
.chart-title {
    text-transform: uppercase;
    /*font-size: .8em;*/
    /*padding-top: 5px;*/
    /*font-family: sans-serif;*/
    /*font-weight: 900;*/
    /*color: #35495E;*/
    /*padding-left: 10px;*/
}

.obs-chart .reset, .obs-chart .filter {
    /*font-size: .7em;*/
    /*padding-left: 10px;*/
    /*float: right;*/
    /*display: none;*/
    color: #d77329;
    font-weight: 400;
}

.img-dashboard{
    width: 100px;
    height: 100px;
}


.chart-options{
    /*margin-right: 10px;*/
    display:none;
}

.chart-options.on {
    display: inline-block;
}
.chart-options ul{
    list-style: none;
    /*color: #39b3d7;*/
    display: table;
    width: 100%;
    padding-left:0;
}
.chart-options ul li{
    float: none;
    margin: .5em;
    text-align: center;
    display: table-cell;
}
.chart-options a{
    font-size: 15px;
    font-weight: normal;
    color: #2C3E50;
    -webkit-padding-start: 10px;
}



/*.assayDataTemplates-list ul li{*/
    /*float: none;*/
    /*margin: .5em;*/
    /*text-align: center;*/
    /*display: table-cell;*/
/*}*/
.ibox-footer{
    height: 75px;
}


a.editable-click {
    color: green;
    border-bottom: dotted 2px green;
}
a.editable-select {
    color: green;
    border-bottom: dotted 2px green;
}

.tab-panel{

}

.tab-panel > ul {
    background-color: #254154;
    /*margin-top: -2px;*/
    list-style: none;
    /*overflow: scroll;*/
    font-weight: bolder;
    -webkit-padding-start: 0px;
    height: 150px;
    border: 0;
    /*display: table;*/
    width: 100%;
    color:white;
}

.tab-panel > ul li {
    background-color: #2C3E50;
    text-align: center;
    display: table-cell;
    float: none;
    width:33%;

}

.tab-panel > ul li.odd {
    background-color: #25495c;
    /*float: left;*/
    /*width: 20%*/
}

.tab-panel > ul li > a {
    /*background-color: #2C3E50;*/
    border-radius: 0;
    border: 0;
    margin-right:0;
    height: 150px;
}

.tab-panel > ul li > a:hover, .tab-panel > ul li > a:focus {
    background-color: #2C3E50;
    border: 0;
    margin:0;
    outline: none;
}
/*.tab-panel > ul li > a:focus {
    background-color: #2C3E50;
    border: 0;
    outline: none;
}*/

.tab-panel > ul li.active a {
    background-color: #00bfcd; /*#2BAFC7;*/
    border: 0;
    margin-right: 0;
}
.tab-panel > ul li.active a:focus {
    background-color: #00bfcd;
    margin-right:0;
    border:none;
    outline: none;
}
.tab-panel > ul li.active a:hover {
    background-color: #00bfcd;
    border: 0;
}


.tab-panel .tab-info {
    padding-top: 10px;
    color: #F3F3F4;
    /*font-size: .5em;*/
}
.tab-panel .tab-info img {
    height: 70px;
    width:70px;
    margin-bottom: 10px;
}

.tab-panel .tab-info p {
    margin: 0 0 5px;
}


.tab-panel .assay-info .assay-count {
    color:#CDFF3B;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
}

.tab-content{
    border-style: none;
    /*border-top: #01bfcd 15px solid;*/
    padding: 15px 15px 10px 15px;
    background-color: #ffffff;
}

.assay-panel .assay-info .assay-tech {
    font-weight: lighter;
    font-size: .7em;
}

.field-list{
    background-color: white;
    border:1px solid lightgrey;
    height: 113px;
    overflow: scroll;
}

.field-list ul {
    list-style: none;
    /*color: #414042;*/
    /*font-size: 1.5em;*/
    font-weight: normal;
    /*display: table;*/
    -webkit-padding-start: 10px;
}
.field-list ul li{
    /*display: inline-block;*/
    /*width: 10%;*/
    position: relative;
    margin:7px;
    /*border-bottom: #d77329 1px solid;*/
    /*display: table-cell;*/
}
.field-list ul li a:hover  {
    background-color: #2cc6de;
    color: white;
}
.field-list ul li a:hover i {
    /*background-color: #eeede9;*/
    color: #eeede9;
}

.field-list ul li i:hover  {
    /*background-color: #2cc6de;*/
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    color: white;
}
.field-list ul li:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    /*background-color: #00bfcd;*/
}
.field-list ul li:-moz-drag-over{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.field-list ul li.selected  {
    background-color: #2C3E50;
}

.field-list ul li a{
    background-color: #eeede9 ;
    margin:2px;
    color: #25495c;
    text-transform: uppercase;
    font-size: small;
    padding:3px;
}

.dropped-pill a,.dropped-pill span{
    /*background-color: #2cc6de;*/
    color: #019baa;
    text-transform: uppercase;
    font-size: small;
    padding:3px;

}
.droppable span{
    /*text-decoration: underline;*/
    /*margin-left: -3px;*/
}
.droppable  span:after {
    content: ", ";
}
.droppable span:last-of-type:after {
    content: " ";
}



.wizard .fields-tree .list-group-node  {
    background-color: inherit;
    display: block;
    margin-bottom: -1px;
    padding: 1px 1px 1px 20px;
    position: relative;
    border: none;
    font-size: 12px;

    /*font-weight: bold;*/
}
.wizard  .fields-tree .list-group-item  {
    background-color: inherit;
    display: block;
    /*margin-bottom: 5px;*/
    padding: 1px 20px;
    position: relative;
    border: none;
    /*font-weight: bold;*/
}

.wizard  .fields-tree .list-group-item-text {
    margin: 0 0 0px;
    color: inherit;
    font-size: 12px;
    line-height: 23px;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px aliceblue solid;
}
.wizard .fields-tree .node-toggle {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    /*margin: 4px 3px 0 0;*/
    padding: 2px 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    /*border-right: 2px solid #fff;*/
    z-index: 5 !important;
    float: left;
    background-color:#23c6c8 ;
    color: #ffffff;
}

.wizard .well{
    background-color: #ffffff;
}

.search-input{
    position:relative;
    padding:0;
    margin:0;
    background:#ddd;
}

.search-input input{
    margin:0;
    padding-left: 30px;
}
.search-input i{
    position:absolute;
    bottom:9px;
    left:9px;
}

.page-heading.fixed{
    position: fixed;
    right: 0;
    left: 0;
    top: 60px;
    z-index: 2500;
}
.section-wrapper {
    padding-right: 0;
    margin-left: 200px;
    margin-top: 95px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.section-wrapper.toggled {
    padding-right: 230px;
}

.right-sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 230px;
    width: 0;
    height: 100%;
    margin-right: -230px;
    overflow-y: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.section-wrapper.toggled > .right-sidebar-wrapper {
    width: 360px;
}


.section-content {
    /*width: 100%;*/
    /*position: absolute;*/
    /*padding: 15px;*/
    /*margin-top: 45px;*/
    cursor: default;
    /*border:0;*/
    outline:none;
    padding: 20px 20px 20px 30px

}
.section-content:focus {



}

.section-wrapper.toggled > .section-content {
    position: relative;
    /*margin-left: -250px;*/
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.file-box a:hover > .file-name{
    background-color: #d1dade;
    color:#ffffff;
}
.file-box a.active > .file-name{
    background-color: #00bfcd;
    color:#ffffff;
}

.file .icon {
    padding: 15px 10px;
    text-align: center;
    display: block;
}

.dropdown-menu{
    top:21px;
    width: 190px;
}

.expression ul{
    padding:5px;
}
.expression ul li{
    display:inline;
    /*padding-right: 10px;*/
}

.expression ul li .droppable{
    padding: 3px 9px;
    border-radius:5px;
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    margin: 3px;
    display: inline;
}
/*.expression ul li .droppable{*/
    /*background-color: #eeede9;*/
/*}*/



.profile-image {
    width: 150px;
    float: left;
    height:150px;
    border: 6px solid white;
    border-radius: 15px;
    padding: 5px;
}

.profile-info {
    margin-left: 170px;
    padding-top:20px;
}

.profile-info .label{
    font-size:0.8em;
}

.activities-list{
    position: relative;
    max-height:420px;
}

.activities-list ul li:hover{
    /*background-color: #eeede9;*/
    /*cursor: pointer;*/
}

/*CUSTOM EDITABLE CONTROLS*/
.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
    font-style: normal;
    color: #23c6c8;
    text-decoration: none;
}
.editable-click,
a.editable-click {
    font-style: normal;
    text-decoration: none;
    color: #23c6c8;
    border-bottom: dashed 1px #dd7a2a;
}

.form-inline.editable-text
{
    color: #254154;
}/*Custom css*/
.feed-element div:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.feed-element a{
    color: inherit;
}
.feed-element a.selected{
    background-color: #0095a2;
    color: white;
}

/*STUDY PLANNER*/

.studyCell{
    display: inline-block;
}

.studySegment{
    margin-right: 5px;
    margin-left: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #005580;
    border-radius: 5px;
    padding: 9px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
}

.epoch{
    border-right: 2px;
    border-color: black;
    border-right-style: solid;
    display: inline-block;
    padding-top:20px;
    min-height: 80px;
    background-color: aliceblue;
}
.epoch.odd{
    background-color: linen;
}
.epoch.even{
    background-color: #add8e6;
}

.studySegment:hover{
    background-color: #ffffff;
    cursor: pointer;
}
.epoch-header{
    height: 20px;
    /*font-size: 0.5em;*/
    font-weight: bold;
    position: relative;
    text-align: center;
    top:-20px;
    padding: 3px;
    color:white;
    background-color: #2C3E50
}

.armbar{
    border-width: 2px;
    background-color: #add8e6;
    width: 20px;
    height: 80px;
    float: left;
    /*display: inline-block;*/
    /*border-left-style: solid;*/
}
.arm{
    margin-bottom: 10px;
    margin-left: 10px;
}
.arm-container{
    padding-left: 2px;
    display: inline-block;
}


.planContainer{
    padding-bottom: 10px;
    padding-top: 20px;
}



/*Flo's Css for charts*/
.anchor {
    width: 100%;
    height: 100%;
    position:relative;
    clear:both;
}
#chartslock {
    width: 100%;
    height: 100%;
    /*padding: 20px;*/
    /*padding-left: 420px;*/
    position:absolute;
    top: 0;
    left: 0;
}
.charts-container {
    width: 100%;
    height: 50%;
    overflow:auto;
}
.cardlock {
    background-color: #f0f0f0;
    max-width: 660px;
    height: 340px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    overflow-x: scroll; overflow-y:hidden;
    position: relative;
}
.cardlock.placeholder {
    border: dashed 3px #e0e0e0;
    background-color: transparent;
    width:320px;
}
.cardholder {
    width: 100%;
    color: #e0e0e0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}
.cardholder strong {
    font-size: 40px;
}
.card {
    /*position:absolute;*/
    width: auto; white-space: nowrap;
}
.card h1 {
    width: 90%;
    font-size: 15px;
    padding: 10px;
    text-transform:uppercase;
    color: #808080;
    font-weight:100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card .chart {
    padding-left:10px;
    padding-right:10px;
    width: 320px;
    text-align:left;
    display: inline-table;
    margin:auto;
}



/*switch*/
.menu-toggle {
    position:absolute;
    right: 0px;
    top: 7px;
}
.switchery {
    border: 1px solid #808080;
    background-color: #808080;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 30px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.switchery > small {
    background: #fff;
    border-radius: 100%;
    height: 15px;
    position: absolute;
    top: 0px;
    width: 15px;
}
.switchery.on:hover > small {
    background-color:#c1f9ff;
}
.switchery:hover > small {
    background-color:#efefef;
}
.switchery.on {
    border: 1px solid #5bb8b7;
    background-color: #1ececc;
    right: 0px;
}
.switchery.on > small {
    right: 0px;
    border: none
}
.switchery.inherit {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    right: 0px;
}
.switchery.inherit > small {
    right: 0px;
    border: none
}

#range-chart g.y {
    display: none;
}

.sk-spinner-fading-circle.sk-spinner {
    margin: 0 auto;
    width: 20px;
    height: 50px;
    position: relative;
}


.ui-select-container > .ui-select-choices{
    top:36px;
}