
<nav class="navbar navbar-fixed-top  project-nav" role="navigation">


    <div class="navbar-header">

        <h4 class="" style="margin-bottom: 0px;margin-top: 0px;padding-top: 20px;    color: #fcfdff;font-size: 1.7em;">
            <a ui-sref="project.explorer({projectId:vm.projectId})">
                <span style="color: #fcfdff;font-size: 1.7em;padding: 50px;"><i class="fa fa-arrow-circle-left"></i></span>
            </a>
            <span style="padding-left: 50px;vertical-align: 7px;">Dataset checkout</span>
        </h4>
    </div>
    <ul class="nav navbar-top-links ">
        <li class="navbar-right">
            <ul style="padding-top: 20px">
                <li>Logged in as <span class="username"> {{currentUser.username.toLowerCase()}}</span></li>
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </li>
    </ul>


</nav>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row m-lg">
        <div class="col-lg-3">
            <div style="background: #ddda">
                <div class="">
                    <ul style="list-style: none; padding: 0px;">
                        <li style="    padding: 10px;">
                            <h4> Data Cart Summary <i class="fa fa-shopping-cart"></i></h4>

                        </li>
                        <!--<li style="padding: 10px;">

                            <div>
                                <div style="border-bottom: 1px solid #25495c">
                                    <div>STUDY DESIGN ELEMENTS</div>
                                </div>
                                <ul style="padding: 5px;list-style: none;">
                                    <li ng-repeat="de in vm.cart.designElements">
                                        <span>{{de.termName}}</span> <div class="p-w-xs">{{de.filterText}}</div>
                                        &lt;!&ndash;<a class="pull-right" ng-click="vm.removeFilter('subject',key)"><i class="fa fa-times"></i></a>&ndash;&gt;
                                    </li>
                                </ul>
                            </div>
                        </li>-->
                        <li style="padding: 10px;">

                            <div>
                                <div style="border-bottom: 1px solid #25495c">
                                    <div>SUBJECT CHARACTERISTICS</div>
                                </div>
                                <ul style="padding: 5px;list-style: none;">
                                    <li ng-repeat="sc in vm.cart.subjCharRequests">
                                        {{sc.name}}
                                        <div class="p-w-xs">
                                            <span ng-if="sc.isFiltered"><i class="fa fa-filter"></i></span> {{sc.filterText}}</div>
                                    </li>
                                    <li ng-if="vm.cart.subjCharRequests.length == 0">
                                        <span style="font-style: italic">None selected</span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li style="padding: 10px;">
                            <div>
                                <div style="border-bottom: 1px solid #25495c">
                                    <div>CLINICAL OBSERVATIONS</div>
                                </div>
                                <ul style="padding: 5px;list-style: none;">
                                    <li ng-repeat="obs in vm.cart.obsRequests">
                                        <span>{{obs.name}}</span> <div class="p-w-xs"><span ng-if="obs.isFiltered"><i class="fa fa-filter"></i></span> {{obs.filterText}}</div>
                                    </li>
                                    <li ng-repeat="grpobs in vm.cart.groupedObservations">
                                        <span>{{grpobs.name}}</span> <div class="p-w-xs"><span ng-if="grpobs.isFiltered"><i class="fa fa-filter"></i></span> {{grpobs.filterText}}</div>
                                    </li>
                                    <li ng-if="vm.cart.obsRequests.length == 0">
                                        <span style="font-style: italic">None selected</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li style="padding: 10px;">
                            <div>
                                <div style="border-bottom: 1px solid #25495c">
                                    <div>MOLECULAR OBSERVATIONS</div>
                                </div>
                                <ul style="padding: 5px;list-style: none;">

                                    <li ng-repeat="panel in vm.cart.assayPanelRequests">
                                        {{panel.assayName}} Assay
                                            <div>Sample Characteristics</div>

                                            <ul style="padding-left: 5px;list-style: none;">
                                                <li ng-repeat="sc in panel.sampleQuery">
                                                    <span ng-if="sc.isFiltered"> <i class="fa fa-filter"></i></span>  {{sc.name}} <span ng-if="sc.isFiltered"> ({{sc.filterText}})</span>
                                                </li>
                                            </ul>
                                    </li>
                                    <!--<li>
                                        <span style="font-style: italic">None selected</span>
                                    </li>-->


                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-title panel-header">
                    <span>Dataset 1</span>
                    <div class="p-w-md pull-right">
                        <div class="text-center">
                            <a ng-click="vm.openSaveForm()"><i uib-tooltip="Add to My datasets" class="fa fa-save fa-2x"></i></a>
                        </div>

                    </div>
                </div>

                <div class="ibox-content">
                    <div ng-show="vm.checkoutResults.length === 0" class="alert alert-info">

                        <h3 >Preparing check out datasets...</h3>

                    </div>
                    <small class="text-muted" ng-show="vm.checkoutResults.length > 0">{{vm.checkoutResults.length}} files created based on your data cart</small>
                    <div ng-if="vm.checkoutResults.length > 0"class="project-list">
                        <div class="ibox-content myform">

                            <h3>Files</h3>
                            <div>
                                <table class="table ">
                                    <thead>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>No. Subjects</th>
                                    <th>No. Samples</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="ds in vm.checkoutResults">

                                        <td class="project-status">
                                            <span class="label label-primary">{{ds.contentType}}</span>
                                        </td>
                                        <td class="project-title">
                                            {{ds.name}}
                                        </td>
                                        <td>
                                            {{ds.subjectCount}}
                                        </td>
                                        <td>
                                            {{ds.sampleCount?ds.sampleCount : '-'}}
                                        </td>

                                        <td class="project-actions">
                                            <a ng-hide="ds.fileStatus != 0" placeholder="Download" ng-click="vm.prepareDataset(ds)">
                                                <i class="fa fa-download"></i>
                                            </a>
                                            <span ng-show="ds.fileStatus == 1"><i class="fa fa-circle-o-notch fa-spin "></i><small> Preparing...</small></span>
                                            <a  ng-show="ds.fileStatus == 2" ng-click=  vm.downloadDataset(ds)>
                                                <i class="fa fa-check"></i><i class="fa fa-download"></i><small> File ready </small>
                                            </a>
                                            <span ng-show="ds.fileStatus == 3"><i class="fa fa-times-circle-o "></i>FAILED!</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>