<nav class="navbar-default navbar-static-side " style="margin-top: 0; height: 70%;" role="navigation" >
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li style="    padding: 10px;
    color: white;">
                <h4><i class="fa fa-bars"></i> Filters on <a class="pull-right" ng-click="vm.resetAllFilters()"><i class="fa fa-power-off"></i> Reset All</a></h4>

            </li>
            <li style="padding: 10px;color: white;">

                <div>
                    <div style="border-bottom: 1px solid white">
                        <div>SUBJECTS</div>
                    </div>
                    <ul style="padding: 5px;color: white;list-style: none;">
                        <li ng-repeat="(key, filters) in vm.subjFilters">
                                {{key}} (<span ng-repeat="filter in filters">{{filter}} {{!$last ? ',':''}}</span>)
                            <a class="pull-right" ng-click="vm.removeFilter('subject',key)"><i class="fa fa-times"></i></a>
                        </li>
                    </ul>
                </div>
            </li>

            <li style="padding: 10px;color: white;">
                <div>
                    <div style="border-bottom: 1px solid white">
                        <div>CLINICAL OBSERVATIONS</div>
                    </div>
                    <ul style="padding: 5px;color: white;list-style: none;">
                        <li ng-repeat="(key, filters) in vm.clinicalFilters">
                            {{key}} (<span ng-repeat="filter in filters">{{filter}} {{!$last ? ',':''}}</span>)
                            <a class="pull-right" ng-click="vm.removeFilter('clinical',key)"><i class="fa fa-times"></i></a>
                        </li>
                    </ul>
                </div>
            </li>

            <li style="padding: 10px;">
                <div id="filters" >
<!--                    <div class=" no-padding" data-toggle="collapse" data-parent="#filters" data-target="#filters-content" style="background-color: #2C3E50;">
                        <a class="btn btn-sm btn-default " href="" style="background-color: #2C3E50;border-color: #2C3E50;"><i class="fa fa-bars"></i> Filters on</a>
                    </div>

                    <div id="filters-content" class="ibox-content collapse in">
                        <div class="" style="background-color: darkorange">
                            <span>AGE (24 - 54)</span>
                            <span class="pull-right"><i class="fa fa-close"></i></span>
                        </div>
                        <div class="" style="background-color: darkorange">
                            <span>ARM (FLUAD OR PLACEBO)</span>
                            <span class="pull-right"><i class="fa fa-close"></i></span>
                        </div>


                    </div>-->
                    <div  style="border-top: solid 1px #f1f1f1">
                        <a class="btn btn-sm btn-default " href="" ng-click="vm.saveFilters()"
                           style="background-color: #2C3E50;border-color: #2C3E50;">
                            <i class="fa fa-save"></i> Save Current filters</a>
                        <a href="#" e-ng-model="vm.query.name" editable-text="vm.query.name" buttons="no" blur="submit">{{vm.query.name || "Name"}}</a>

                    </div>



                </div>
            </li>
            <li class="divider"></li>
            <li> <div>
                <div style="border-bottom: 1px solid white">
                    <div>SAVED FILTERS</div>
                </div>
                <ul style="padding: 5px;color: white;list-style: none;">
                    <li>
                        AGE & BMI
                        <a class="pull-right" ng-click="closebox()">APPLY</a>
                    </li>
                    <li>
                        PLACEBO & ISR
                        <a class="pull-right" ng-click="closebox()">APPLY</a>
                    </li>
                </ul>
            </div></li>

            <li class="divider"></li>
            <li style="padding: 5px;color: white;list-style: none;">
                <a class="btn btn-sm btn-default " href=""
                   ui-sref="export.wizard.fields({studyId:vm.studyId,datasetId:0})" style=""><i class="fa fa-table"></i> Go To Dataset Builder</a>
            </li>
            <!--<li><a ui-sref="explore.main({studyId:'P-BVS'})">Explore</a></li>-->
            <!--<li><a ui-sref="datastage.files({studyId:'P-BVS'})">Data Stage</a></li>-->
            <!--<li><a ui-sref="manager({ studyId: 'STD-BVS-01' })">Configure</a></li>-->




        </ul>

    </div>
</nav>