`1<div id="right-sidebar" ng-show="rightSidebar" class="animated slideInRight sidebar-open">


    <div ng-show="isDataAdded('subject')" class="ibox float-e-margins" style="margin-bottom: 3px; !important;">
        <div class="ibox-title">
            <h5>Subjects</h5>
            <span class="label label-primary">{{cart.subjectCount}}</span>
            <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                <a class="dropdown-toggle" href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="">Config option 1</a>
                    </li>
                    <li><a href="">Config option 2</a>
                    </li>
                </ul>
                <a ng-click="closebox()"><i class="fa fa-times"></i></a>
            </div></div>
        </div>
        <div class="ibox-content" style="padding-top: 0px; !important;">
                <h4>Human Subject Filters
                    <br>
                    <small class="m-r">
                        <div ng-repeat="(key, values) in cart.subject" style="display:inline;">
                            <span class="label">{{key}} : {{values}}</span>
                            <!--<button type="button" class="btn-xs btn-outline btn-default">{{key}} : {{values}}</button>-->
                        </div>
                    </small>
                </h4>
        </div>
        <!--<div class="ibox-content" style="padding-top: 0px; !important;">-->
            <!--<h4>Animal Subject Filters-->
            <!--</h4>-->
        <!--</div>-->
    </div>

    <div ng-show="isDataAdded('clinical')" class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Clincial Observations</h5>
            <span class="label label-primary">{{cart.clinicalCount}}</span>
            <div ibox-tools="" class="ng-scope"><div class="ibox-tools dropdown" dropdown="">
                <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                <a class="dropdown-toggle" href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="">Config option 1</a>
                    </li>
                    <li><a href="">Config option 2</a>
                    </li>
                </ul>
                <a ng-click="closebox()"><i class="fa fa-times"></i></a>
            </div></div>
        </div>
        <div class="ibox-content" style="padding-top: 0px; !important;">
            <small class="m-r">
                <div ng-repeat="(key, values) in cart.clinical" style="display:inline;">
                    <span class="label">{{key}} : {{values}}</span>
                    <!--<button type="button" class="btn-xs btn-outline btn-default">{{key}} : {{values}}</button>-->
                </div>
            </small>
        </div>
    </div>


    <div ng-show="isDataAdded('subject')||isDataAdded('clinical')" style="display:inline;float:right">
        <button ng-click="download()" class="btn-xs btn-success " type="button"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<span class="bold">Checkout</span></button>
    </div>
    <div ng-show="!(isDataAdded('subject')||isDataAdded('clinical'))" style="text-align: center; margin: 30px;">
        No data added to the Data Cart.
    </div>
</div>