<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>File Manager</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="main.home">Home</a>
            </li>
            <li>
                <a>{{vm.projectId}}</a>
            </li>
            <li>
                <a ui-sref="datastage.files.list({dir:''})"><strong>Data Stage</strong></a>
            </li>
            <li class="active">
                <strong>{{vm.dir}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">

                        <h5>Show:</h5>
                        <a href="" class="file-control active">All</a>
                        <a href="" class="file-control">Clinical</a>
                        <a href="" class="file-control">Assays</a>
                        <a href="" class="file-control">Biospecimens</a>

                        <div class="hr-line-dashed"></div>
                        <button class="btn btn-primary btn-block" ng-click="vm.openUpload()">Upload Files</button>
                        <div class="hr-line-dashed"></div>


                        <h5>Folders</h5>
                        <span style="margin-bottom: 5px">
                            <a href="#" e-ng-model="vmodel.activity.name" editable-text="vm.newdir" onaftersave="createDirectory()" buttons="no" blur="submit">
                                <i class="fa fa-folder-o"></i> &nbsp;&nbsp; New Folder
                            </a>
                        </span>
                        <ul class="folder-list" style="padding: 0">
                            <li ng-repeat="dir in vm.dirs"><a ui-sref="datastage.files({ dir: dir})" href=""><i class="fa fa-folder"></i> {{dir}}</a></li>
                        </ul>


                        <h5 class="tag-title">Tags</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href="">Vital Signs</a></li>
                            <li><a href="">Advserse Events</a></li>
                            <li><a href="">Demographics</a></li>
                            <li><a href="">Microarray</a></li>
                            <li><a href="">Design</a></li>
                            <li><a href="">Laboratory</a></li>
                            <li><a href="">Medications</a></li>
                            <li><a href="">Proteomics</a></li>
                        </ul>

                        <div class="clearfix"></div>
                        <div class="hr-line-dashed"></div>
                        <ul class="list-unstyled file-list" ng-show="vm.selectedFilesCount >= 1">
                            <h5>Selected Files</h5>
                            <li ng-repeat="selFile in vm.selectedFiles">
                                <a href="">
                                    <i class="fa fa-file"></i>
                                    &nbsp;{{selFile.fileName}}</a></li>
                            <!--<li><a href=""><i class="fa fa-file"></i>&nbsp;Logo_zender_company.jpg</a></li>
                            <li><a href=""><i class="fa fa-file"></i>&nbsp;Email_from_Alex.mln</a></li>
                            <li><a href=""><i class="fa fa-file"></i>&nbsp;Contract_20_11_2014.docx</a></li>-->
                        </ul>
                        <button class="btn btn-primary btn-block" ng-click="vm.goToNextStep()" data-ng-disabled="vm.selectedFilesCount ==0">Load to DB</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">


            <div ui-view=""></div>
        </div>
    </div>
</div>