<div class="row border-bottom white-bg page-heading fixed">
    <div class="col-md-4">
        <h2>File Manager</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.dashboard">Home</a>
            </li>
            <li>
                <a ui-sref="admin.project({projectId:vm.projectId})">{{vm.projectId}}</a>
            </li>
            <li>
                <a ui-sref="datastage.files({dir:''})">Data Stage</a>
            </li>
            <li ng-class="{'active':!vm.currentFile}">
                <a ui-sref="datastage.files({dir:vm.dir})" ui-sref-opts="{reload: true}"><strong>{{vm.dir}}</strong></a>
            </li>
            <li class="active" ng-if="vm.currentFile">
                {{vm.currentFile}}
            </li>
        </ol>
    </div>

    <div ng-show="vm.showControls" class=" btn-group pull-right" style="margin-top: 45px;margin-right: 55px;">



        <button ng-click="vm.load()" ng-show="!vm.fileSelected.isDirectory"  class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Load File"><i class="fa fa-arrow-right"></i><i class="fa fa-database"></i> </button>
        <button ng-click="vm.unload()" ng-show="!vm.fileSelected.isDirectory && vm.fileSelected.isLoaded" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Unload file from DB"><i class="fa fa-database"></i><i class="fa fa-arrow-right"></i></button>
        <button ng-click="vm.openF()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Preview"><i class="fa fa-eye"></i></button>
        <button ng-click="vm.showInfo()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="View Details"><i class="fa fa-info-circle"></i></button>
        <button ng-click="vm.deleteFile()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Delete File"><i class="fa fa-trash"></i></button>

        <span uib-dropdown on-toggle="toggled(open)">

             <button id="simple-dropdown" class="btn btn-white btn-sm" uib-dropdown-toggle><i class="fa fa-ellipsis-v"></i></button>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li role="menuitem"><a ng-click="vm.computeFields()"><i class="fa fa-bolt"></i>  Generate Computed Fields</a></li>
            </ul>
    </span>



    </div>
</div>

<div class="row">
    <div class="col-lg-2" style="position:fixed;margin-top: 95px;">
        <div class=" float-e-margins">
            <div class="">
                <div class="file-manager">

                    <!--<h5>Show:</h5>-->
                    <!--<a href="" class="file-control active">All</a>-->
                    <!--<a href="" class="file-control">Clinical</a>-->
                    <!--<a href="" class="file-control">Assays</a>-->
                    <!--<a href="" class="file-control">Biospecimens</a>-->

                    <!--<div class="hr-line-dashed"></div>-->
                    <div class="m-t-sm m-b-xs text-center">
                        <button class="btn btn-primary btn-sm" ng-click="vm.openUpload()">Upload Files</button>

                    </div>



                    <h3 style="padding-top:5px; border-bottom: 1px solid #2c3e50;"><i class="fa fa-files-o"></i>&nbsp;&nbsp;&nbsp;Files</h3>

                    <div style="margin: 5px">
                        <a href="#" e-ng-model="vmodel.activity.name" editable-text="vm.newdir" onaftersave="vm.createDirectory()" buttons="no" blur="submit">
                            <i class="fa fa-folder-o"></i> &nbsp;&nbsp;&nbsp; New Folder
                        </a>
                    </div>
                    <ul class="folder-list" style="padding: 10px">
                        <li ng-repeat="dir in vm.dirs">
                            <a href="#/{{vm.projectId}}/datastage/files/{{dir}}">
                                <i class="fa fa-folder"></i> {{dir}}</a>
                        </li>
                    </ul>


                    <!--<h3 style="border-bottom: 1px solid #2c3e50;"><i class="fa fa-table"></i>&nbsp;&nbsp;Datasets</h3>-->

                    <!--<h5 class="tag-title">Tags</h5>
                    <ul class="tag-list" style="padding: 0px">
                        <li><a href="">Vital Signs</a></li>
                        <li><a href="">Advserse Events</a></li>
                        <li><a href="">Demographics</a></li>
                        <li><a href="">Microarray</a></li>
                        <li><a href="">Design</a></li>
                        <li><a href="">Laboratory</a></li>
                        <li><a href="">Medications</a></li>
                        <li><a href="">Proteomics</a></li>
                    </ul>-->

                    <div class="clearfix"></div>
                    <div class="hr-line-dashed"></div>
                    <ul class="list-unstyled file-list" ng-show="vm.selectedFilesCount >= 1">
                        <h5>Selected Files</h5>
                        <li ng-repeat="selFile in vm.selectedFiles">
                            <a href="">
                                <i class="fa fa-file"></i>
                                &nbsp;{{selFile.fileName}}</a></li>
                        <!--<li><a href=""><i class="fa fa-file"></i>&nbsp;Logo_zender_company.jpg</a></li>
                        <li><a href=""><i class="fa fa-file"></i>&nbsp;Email_from_Alex.mln</a></li>
                        <li><a href=""><i class="fa fa-file"></i>&nbsp;Contract_20_11_2014.docx</a></li>-->
                    </ul>
                    <!--<button class="btn btn-primary btn-block" ng-click="vm.goToNextStep()" data-ng-disabled="vm.selectedFilesCount ==0">Load to DB</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section-wrapper " ng-class="{ 'toggled': vm.showSideMenu }">

        <div ng-click="vm.clickFn($event)" class="section-content outer  col-lg-10 animated fadeInRight">
            <div ui-view="">
                <div class="row outer">
                    <div class=" col-lg-12 outer" >
                        <file-directive ng-repeat="fileInfo in vm.files" dbl-click-fn="vm.openF(fileInfo)" file-info="fileInfo" click-fn="vm.fileClickFn(fileInfo)"></file-directive>
                    </div>

                </div>
            </div>
        </div>
        <div class="right-sidebar-wrapper">
            <div class="panel-header"><h3>{{vm.fileSelected.fileName}}</h3></div>
            <div>

            </div>
        </div>
    </div>

</div>


<!-- /#sidebar-wrapper -->
