
<div class="wrapper wrapper-content animated fadeIn">

    <div class="row m-t-sm m-b-md">
        <div class="col-lg-10 col-lg-offset-1">
            <div ng-repeat="p in vm.projects" style="margin: 5px; display: inline-block" >
                <div class="ibox" style="  display: inline-block">
                    <div class="ibox-title " style="background: #bad6da">
                        <span ng-if="p.id==95 || p.id==15" class="label label-warning pull-right">
                            <i class="fa fa-lock" aria-hidden="true" uib-tooltip="Read only access"></i>
                        </span>

                        <h5>{{p.name}}</h5>

                    </div>
                    <div class="ibox-content text-center product-box" style="padding-top:0px;">
                        <a ui-sref="project.home({projectId:p.id})">
                            <img class="img-dashboard" src="img/logos/{{p.id}}.png"  alt="profile">
                        </a>
                        <div class="row  m-t-sm m-b-sm">
                            <div class="col-sm-4">
                                <div class="font-bold small">STUDIES</div>
                                {{p.studyCount || '0'}}
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold small">SUBJECTS</div>
                                {{p.subjectCount || '0'}}
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold small">COHORTS</div>
                                {{p.cohortCount || '0'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="project-menu" uib-dropdown>
    <a uib-dropdown-toggle uib-tooltip="Create or join a project" tooltip-placement="bottom"><i class="fa fa-plus"></i></a>
    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
        <li><a ng-click="vm.createProject()">Create project</a></li>
        <li><a ng-click="vm.joinProject()">Join project </a></li>
    </ul>
</div>