<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Data Import Wizard</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.dashboard">Home</a>
            </li>
            <li>
                <a ui-sref="admin.project({projectId:vm.projectId})">{{vm.projectId}}</a>
            </li>
            <li>
                <a ui-sref="datastage.files">Data Stage</a>
            </li>
            <li class="active">
                <strong>Import Wizard</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <!--<div class="row">
        <div class="col-lg-12">
                <h5>File: CRC305D_LB.csv for Dataset: Laboratory Findings</h5>

                <p>File: CRC305D_LB.csv for Dataset: Laboratory Findings</p>
        </div>

    </div>-->
    <div class="row">
        <!-- <div class="col-lg-3" style="padding-left:0">

                 <div class="ibox-content">
                     <h3>Selected Files</h3>

                     <ul class="list-unstyled file-list clickable">
                         <li ng-repeat="file in vm.selectedFiles" ng-click="selectFile(file)">
                            <a> <span class="label label-primary pull-right">{{file.state}}</span>
                             {{file.fileName}}</a>
                         </li>
                     </ul>
                </div>

         </div>-->
        <div class="cold-md-1"></div>
        <div class="col-md-10" style="padding-left:0">
            <div class="ibox">
                <div class="ibox-title">
                    <!--<p ng-hide="vm.fileSelected" class="small text-muted">
                        <i class="fa fa-hand-o-right"></i>&nbsp;Choose a file to start the wizard</p>-->
                    <h3>Loading file: {{vm.file.fileName}}</h3>

                    <!--<div ibox-tools></div>-->
                </div>
                <div class="ibox-content wizard">
                    <div class="steps clearfix">
                        <ul>

                            <li ui-sref-active="current">
                                <a ui-sref=".step_one" class="btn-default btn btn-xs"><span>1</span> Select Template</a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref=".step_two({datasetId: vm.datasetId, activityId: vm.activityId})" class="btn-default "><span>2</span> Template Mapping</a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref=".step_three({datasetId: vm.datasetId, activityId: vm.activityId})" class="btn-default"><span>3</span> Preview Data</a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref=".step_four({datasetId: vm.datasetId, activityId: vm.activityId})" class="btn-default"><span>4</span> Validation</a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref=".step_five({datasetId: vm.datasetId, activityId: vm.activityId})" class="btn-default"><span>5</span> Load to DB</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">
                        <div class="content">

                            <form name="signupForm" ng-submit="processForm()" class="p-lg">

                                <!-- our nested state views will be injected here -->
                                <div id="form-views" ui-view></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
