
<fieldset>
    <div ng-hide="vm.isLoading || vm.isFinished" class="m-b-md">
        <a ng-click="vm.loadFile2()" class="btn btn-outline btn-info btn-md btn-block" data-ng-disabled="vm.isLoading">START LOADING </a>
    </div>


    <!-- <div class="col-lg-12">-->
    <uib-progressbar ng-if="vm.isLoading || vm.isFinished" type="success" style="margin-bottom: 0px; height:30px" class="progress-striped  progress-bar-info" value="vm.progress"><div style="text-align: center;
    padding-top: 5px;
    font-size: x-large;
    font-weight: 400;
    color: rgb(194, 248, 89)">{{vm.progress}}%</div></uib-progressbar>

    <div ng-show="vm.isLoading || vm.isFinished" class="animated fadeInDown alert alert-info">
        <div class="text-center text-primary text-uppercase">
            <h3 ng-if="!vm.loadedDataset && !vm.loadingFailed">Loading File </h3>
            <h3 ng-if="vm.loadedDataset && !vm.obsExtracted && !vm.loadingFailed">Extracting Content </h3>
            <h3 ng-if="vm.loadingFailed">Loading Failed!</h3>
            <h3 ng-if="vm.loadedDataset && vm.obsExtracted">Done</h3>
            <div ng-hide="(vm.loadedDataset && vm.obsExtracted) || vm.loadingFailed">
                <div class="sk-spinner sk-spinner-wave "  >
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group pull-right">
        <a ng-click="vm.goToStep4()" class="btn btn-default">Previous</a>
        <a ng-click="vm.finish()" class="btn btn-primary pull-right">Finish</a>
    </div>

    <a ui-sref="datastage.files"  class="btn btn-primary ">Cancel</a>
</fieldset>

