

<fieldset>


    <div ng-hide="!vm.dataIsloaded">
        <h4>{{vm.template.domain}}&nbsp;Domain Template &nbsp;
            <a ui-sref=".help({domainId:vm.template.domain.id})">
                <i class="fa fa-question-circle"></i>Help</a>
        </h4>
        <!-- <div class="col-lg-12">-->
        <div class="alert alert-success" ng-hide="!fileInfo.templateMatched">
            File header matched associated template <a class="alert-link" href="">Skip to next step</a>.
        </div>
        <div class="alert alert-warning" ng-hide="fileInfo.templateMatched" close="main.closeAlert()">
            File header did not match associated template. Please provide mappings below.

        </div>

    </div>
    <div class="row" ng-hide="vm.dataIsloaded">
        <div class="ibox">
            <div class="ibox-content">
                <div class="spiner-example">
                    <p class="text-center">Checking template match</p>
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="fileInfo.templateMatched || !vm.dataIsloaded">
        <div  class="ibox float-e-margins">
            <div class="ibox-content ">
                <p class="small text-muted"><i class="fa fa-hand-o-right"></i>&nbsp;Use drag'n drop to map column headers to template variables or enter a value</p>
                <!--<p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>-->
                <div class="row">
                    <!-- **************************** User Upload Data Overview *******************************-->
                    <div class="col-lg-4" style="padding-left: 20px;">
                        <h3 class="domainTitleName">Column Headers</h3>
                        <ul class="tag-list">
                            <li ng-repeat="colHeader in fileInfo.columnHeaders">

                                <div data-drop="true" ng-model='fileInfo.columnHeaders' jqyoui-droppable="{index: {{$index}}}">
                                    <div class="btn btn-xs btn-info dim" style="font-size: 10px;"
                                         data-drag=true
                                         data-jqyoui-options="{revert: 'invalid'}"
                                         ng-model="fileInfo.columnHeaders"
                                         jqyoui-draggable="{index: {{$index}},placeholder:false,animate:true}"
                                         ng-hide="!colHeader.colName">{{colHeader.colName}}</div>

                                </div>


                            </li>
                        </ul>
                        <!--</div>-->
                    </div>

                    <!-- **************************** User Upload Form *******************************-->


                    <!-- THIS IS WHERE WILL INJECT A DOMAIN ============================== -->
                    <div class="col-lg-8">
                        <div ui-view>
                            <div class="row">


                                <!-- REPEAT VARIABLE SECTION FOR EACH VARIABLE TYPE-->
                                <div class="ibox float-e-margins" ng-repeat="varType in vm.template.varTypes">
                                    <div class="ibox-title" style="
                                                        background-color: #2C3E50;
                                                        color: #FBFBFC;">
                                        <h5>{{varType.name}}</h5>
                                        <div ibox-tools></div>
                                    </div>
                                    <div class="ibox-content" style="max-height: 400px;overflow: scroll;border: white 15px solid;">
                                        <p class="small text-muted" ng-if="varType.name == 'Observation Descriptors'">
                                            <i class="fa fa-hand-o-right"></i>&nbsp;If tests exist in separate columns, add a mapping for each</p>
                                        <div ng-repeat="n in dataFile.topicColumns track by $index"
                                             ng-if="(($index==0) || ($index>=1 && varType.name == 'Observation Descriptors'))">
                                            <!-- Test title-->
                                            <h4 ng-if="((varType.name == 'Observation Descriptors') && dataFile.topicColumnCount > 1)">{{$parent.$parent.template.observationName}} &nbsp; {{$index+1}}</h4>

                                            <fieldset id="fieldset_{{$parent.varType.name}}_{{$index}}"  class="form-horizontal">


                                                <div ng-repeat="var in varType.vars" class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                           style="font-size: 12px;
                                                           font-weight: 600;">{{var.label}}:</label>
                                                    <btn class="btn btn-sm btn-white pull-left">
                                                        <!--ng-click="('MyProperty'+($index+1) = !(idVarCollapse_{{$index}})"
                                                        ng-init="idVarCollapse_{{$index}} = true">-->
                                                        <i class="fa fa-info"></i>
                                                    </btn>

                                                    <!-- Droppable element-->
                                                    <div class="col-sm-8" style="border: 1px solid #e7eaec;border-radius: 2px;margin-left: 5px; height:30px"
                                                         data-drop="true"
                                                         data-ng-model="var.mapToColList[$parent.$index]"
                                                         jqyoui-droppable="{index: {{$parent.$index}},onDrop:'dropCallback(var,$parent.$index)'}">

                                                        <!-- Dropped element-->
                                                        <span class="label label-info"
                                                              style="font-size: 10px;
                                                              font-weight: 300;
                                                              text-transform: uppercase;
                                                              text-decoration: underline;
                                                              margin: 0 -10px;"
                                                              ng-show="var.mapToColList[$parent.$index].colName">
                                                            <a ng-click="removeMap(var,$parent.$index)" style="color: #a89ca5;padding-right: 5px;" >
                                                                <i class="fa fa-times"></i></a>
                                                            <span>{{var.mapToColList[$parent.$index].colName}}</span>
                                                        </span>
                                                        <!-- end of Dropped element-->

                                                        <!-- User input if element not dropped-->
                                                        <input ng-model="var.mapToStringValueList[$parent.$index]"
                                                               ng-disabled="var.mapToColList[$parent.$index]"
                                                               ng-change="inputChanged(this)"
                                                               style="background-color: transparent!important;
                                                               border: none;
                                                               outline: 0;
                                                               height: 1.666666em;
                                                               margin: 4px -10px;">
                                                        <!-- End of User input-->
                                                    </div>
                                                    <!-- End of Droppable Element-->
                                                </div>
                                            </fieldset>
                                            <div class="hr-line-dashed"></div>
                                        </div>
                                        <button class="btn btn-warning btn-xs"
                                                ng-click="addTopicColumn()"
                                                type="button" ng-if="varType.name == 'Observation Descriptors'">
                                            <i class="fa fa-plus-circle"></i>&nbsp;Map Another Test</button>

                                    </div>
                                </div>
                                <!-- END REPEAT VARIABLE TYPE-->


                            </div>
                        </div>
                        <button type="button" ng-click="saveMap()" class="pull-right btn btn-primary btn-xs">Save Changes</button>
                        <button type="button" ng-click="cancel()" class="pull-right btn btn-primary btn-xs">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" pull-right">
        <a ui-sref="datastage.wizard.step_one" class="btn btn-default">Previous</a>
        <a ng-click="goToStep3()"  data-ng-disabled="!vm.mapSaved && !fileInfo.templateMatched"  class="btn btn-primary">Next</a>
    </div>

    <a ui-sref="datastage.files"  class="btn btn-primary ">Cancel</a>
</fieldset>