<fieldset>
    <h5>Select an activity to load data to</h5>

    <div class="row">
        <div class="col-lg-12">

            <div>
                <select class="form-control m-b" name="activitySelect" id="activitySelect"
                        data-ng-model="step1Ctrl.selectedActivity" ng-options="activity.name for activity in step1Ctrl.activities">
                </select>
            </div>

            <div ng-if="step1Ctrl.selectedActivity!=null">
                <h5>Associated Datasets</h5>
                <div ng-repeat="ds in step1Ctrl.selectedActivity.datasets">
                    <label> <input required icheck type="radio" name="radioDSselect" ng-model="step1Ctrl.selectedDataset" ng-value="ds"> {{ds.name}}&nbsp;&nbsp;({{ds.domainId}}) </label>
                </div>
            </div>
        </div>
    </div>

    <a ng-click="wzCtrl.goToStep2(step1Ctrl.selectedActivity.id,step1Ctrl.selectedDataset.id)" data-ng-disabled="!step1Ctrl.selectedDataset || !step1Ctrl.selectedActivity" class="btn btn-primary pull-right">Next</a>
    <a ng-click="wzCtrl.cancel()"  class="btn btn-primary ">Cancel</a>

</fieldset>