

<div class="content">

    <div class="panel subject-panel">
        <div class="panel-header">
            <h3><span class="glyphicon glyphicon-user" style="color: #39b3d7; margin-right: 3px"></span> {{title}}</h3>
        </div>

        <div id="subject-plots" ng-controller="subjPlotsCtrl" class="subject-view">

        </div>

        <div class="clearfix"></div>

            <div class="subject" style="border-top: 1px solid #35495E">
                <div class="option-list">

                    <ul class="pull-left">
                        <li ng-repeat="sc in subjChars"
                            ng-init="scSelected = false"
                            ng-class="{'selected': scSelected}"
                            ng-click="toggleSCPlot(sc)"
                            id="subject_{{sc}}">
                            <div>{{sc}}</div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>


    <div class="panel publication-panel">
        <div class="panel-header">
            <h3><span class="glyphicon glyphicon-book" style="color: #39b3d7; margin-right: 3px"></span> Data export
            </h3>
        </div>

        <div class="publications">
            <div class="publication">

            </div>

            <div class="publication">

            </div>

        </div>
    </div>
</div>

<div class="clearfix"></div>

