<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"-->
        <!--"http://www.w3.org/TR/html4/loose.dtd">-->
<!--<html ng-app="demoApp">-->

<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
   <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<!--</head>-->
<!--<body>-->
<style>
    .selected {
        background-color:black;
        color:white;
        font-weight:bold;
    }
    .animate-enter,
    .animate-leave
    {
        -webkit-transition: 900ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
        -moz-transition: 900ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
        -ms-transition: 900ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
        -o-transition: 900ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
        transition: 900ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
    }

    .animate-enter {
        top: 100%;
    }
    .animate-enter.animate-enter-active {
        top: 0;
    }

    .animate-leave {
        top: 0;
    }
    .animate-leave.animate-leave-active{
        top: -100%;
    }
</style>

<div class="container">


    <div class="container" >
        <!-- **************************** Navigation Bar ****************************** -->
        <ul class="nav nav-tabs" id="navigationbar" ng-controller="czDropDownMenuController">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h2>Findings</h2> <span class="caret"></span></a>
                <ul class="dropdown-menu"   style="vertical-align: middle;">
                    <li ng-repeat="finding in findings| orderBy:finding.name"><a ui-sref={{finding.link}}> {{finding.name}} </a></li>
                </ul>
            </li>
            
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h2>Interventions</h2> <span class="caret"></span></a>
                <ul class="dropdown-menu" >
                    <li ng-repeat="intervention in interventions |orderBy:intervention.name"><a ui-sref={{intervention.link}}>{{intervention.name}}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h2>Events</h2> <span class="caret"></span></a>
                <ul  class="dropdown-menu"  >
                    <li ng-repeat="event in events |orderBy:event.name"><a ui-sref={{event.link}}>{{event.name}}</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h2>Help</h2> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="findingsHelp.html">Findings</a></li>
                    <li><a href="#">Interventions</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- **************************** Navigation Bar ****************************** -->


    <div class="container" id="myownform">
        <!-- **************************** User Upload Form *******************************-->
        <div class ="col-md-4">

            <div >
                <h3>Search Uploads:</h3>
              <h4><input style="width:350px;" placeholder="Input here..." type="text" ng-model="uplaodSearchText"/></h4>
            </div>

            <div ng-controller="czUserUploadsController">
                <!--<td ng-repeat="variable in userUplaodVariables| filter:uplaodSearchText">-->
                    <!--{{variable.label}}-->
                <!--</td>-->
                <table class="table table-bordered">

                    <tr ng-repeat="variable in userUplaodVariables| filter:uplaodSearchText" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                       <td> {{variable.label}}</td>
                    </tr>
                </table>
                <!--<li ng-repeat="variable in userUplaodVariables| filter:uplaodSearchText" selection-model>-->
                    <!--{{variable.label}}-->
                <!--</li>-->
                <!--<a href="#" class="list-group-item list-group-item-success" ng-repeat="variable in userUplaodVariables| filter:uplaodSearchText"> {{variable}} </a>-->
                <!--<li class="list-group-item" ng-repeat="variable in userUplaodVariables| filter:uplaodSearchText">{{variable}} </li>-->
            </div>




        <!-- **************************** User Upload Form *******************************-->


            <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        </div>
        <div style="height:600px;overflow:auto;" ui-view>
            <h2>Select A domain to map your data </h2>
        </div>

    </div>


</div>

