
<style>
	.selected {
		background-color:black;
		color:white;
		font-weight:bold;
	}
	.variableNameTd{
		width:400px;
	}


</style>
<!--<input type="text" ng-model="name">{{name}}-->
	<h3 >Vital Sight</h3>



	<div class= "well" id ="Identifier" ng-model ="VSIdentifier">
		<h4>Identifier</h4>
		<div ng-controller="mappingFormSelectionController" >
			<table class="table table-bordered" >
				<tr ng-repeat="Identifier in mappingStandardsData.indentifiers" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
					<td class="variableNameTd"> {{Identifier.name}} </td>
					<!--This td will ng-repeat on droppable container-->
					<td> {{Identifier.mappingVar}}
						<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-remove-circle">
							</i>
						</button>
					</td>



				</tr>

			</table>
		</div>

		<div  ng-controller="mappingFormSelectionController">
			<table class="table table-bordered"  >
				<tr >
					<td class="variableNameTd">Study Identifier (STUDYID)*:</td>
					<td><input type="text" class="form-control"></td>
				</tr>
				<tr>
					<td class="variableNameTd">Domain Abbreviation (DOMAIN)*:</td>
					<td>VS</td>
				</tr>
				<tr>
					<td class="variableNameTd">Unique Subject Identifier (USUBJID)*:</td>
					<td></td>
				</tr>
				<tr>
					<td class="variableNameTd">Sequence Number (VSSEQ)*:</td>
					<td><label>Maching</label></td>
				</tr>
			</table>
			<!--<ul class="list-group">-->
				<!--<li class="list-group-item active">Study Identifier (STUDYID)*: &nbsp;<input type="text" class="form-control"> </li>-->
				<!--<li class="list-group-item disabled">Domain Abbreviation (DOMAIN)*:&nbsp;VS</li>-->
				<!--<li class="list-group-item">Unique Subject Identifier (USUBJID)*: &nbsp; </li>-->
				<!--<li class="list-group-item">Sequence Number (VSSEQ)*: </li>-->

			<!--</ul>-->
		</div>


	</div>

	<div class= "well"><h4>Topic</h4>
		<table class="table table-bordered">
			<tr>
				<td class="variableNameTd">Vital Signs Test Short Name (VSTESTCD)*:</td>
				<td class>VSTESTCD</td>
			</tr>
		</table>
		<!--<ul class="list-group">-->

			<!--<li class="list-group-item disabled">Vital Signs Test Short Name (VSTESTCD)*:&nbsp;VSTESTCD</li>-->

		<!--</ul>-->
	</div>

	<div class= "well" ng-model ="VSQualifier"> <h4>Qualifier</h4>


			<table class="table table-bordered">
				<tr>
					<td class="variableNameTd">Baseline Flag*:</td>
					<td><select class="form-control">
						<option>Yes</option>
						<option>No</option>
					</select>
					</td>
				</tr>
			</table>
	</div>


	<!--<div class="well" ng-model="VSTest">-->

		<!--<h4>Test</h4>-->
		<!--&lt;!&ndash; everytime add this list group when click the add new Test &ndash;&gt;-->

		<!--<table>-->
			<!--<tr>-->
				<!--<td></td>-->
			<!--</tr>-->
			<!--&lt;!&ndash;<ul class="list-group">&ndash;&gt;-->
				<!--&lt;!&ndash;<li class="list-group-item">Vital Sins Test Name(VSTEST)*: &nbsp;<input type="text" class="form-control"> </li>&ndash;&gt;-->
				<!--&lt;!&ndash;<li class="list-group-item">Result or Finding in Original Units (VSORRES)*:&nbsp;</li>&ndash;&gt;-->
				<!--&lt;!&ndash;<li class="list-group-item">Original Units (VSORRESU)*:&nbsp;<input type="text" class="form-control"></li>&ndash;&gt;-->
			<!--&lt;!&ndash;</ul>&ndash;&gt;-->
		<!--</table>-->


		<!--&lt;!&ndash; everytime add this list group when click the add new Test &ndash;&gt;-->
	<!--</div>-->

	<div class="well" ng-model="VSTest" id="space-for-newTest"> Test
		<p></p>
		<div style="padding-bottom: 20px" ng-controller="addTestController">
			<addtestsbutton></addtestsbutton>


			<!--<button type="button" class="btn btn-success">Add New Test</button>-->
			<!--<span>&nbsp&nbsp</span>-->
			<!--<button type="button" class="btn btn-danger">Remove Test</button>-->
		</div>



	</div>



<div>


		<!--<li class="list-group-item">Vital Sins Test Name(VSTEST)*: &nbsp;<input type="text" class="form-control"> </li>-->
		<!--<li class="list-group-item">Result or Finding in Original Units (VSORRES)*:&nbsp;</li>-->
		<!--<li class="list-group-item">Original Units (VSORRESU)*:&nbsp;<input type="text" class="form-control"></li>-->

</div>
	<!-- <div class= "well" ng-model ="Timing"> <h4>Timing</h4>
		<div class= "listgroup">
			<a href="#" class="list-group-item list-group-item-info">Start Date/Time of Visit (SVSTDTC)*:</a>
			<a href="#" class="list-group-item list-group-item-info">End Date/Time of Visit(SVENDTC)*:</a>
			<a href="more.html" class="list-group-item list-group-item-info">+More</a>

		</div>
	</div> -->


