
	<!--<input type="text" ng-model="name">{{name}}-->
	<h3>Vital Sight</h3>

	<div class= "well" id ="Identifier" ng-model ="VSIdentifier"> <h4>Identifier</h4>
		<div>
			<ul class="list-group">
				<li class="list-group-item active">Study Identifier (STUDYID)*: &nbsp;<input type="text" class="form-control"> </li>
				<li class="list-group-item disabled">Domain Abbreviation (DOMAIN)*:&nbsp;VS</li>
				<li class="list-group-item">Unique Subject Identifier (USUBJID)*: &nbsp; </li>
				<li class="list-group-item">Sequence Number (VSSEQ)*: </li>

			</ul>
		</div>


	</div>

	<div class= "well" ng-model ="VSTopic"><h4>Topic</h4>
		<ul class="list-group">

			<li class="list-group-item disabled">Vital Signs Test Short Name (VSTESTCD)*:&nbsp;VSTESTCD</li>

		</ul>
	</div>

	<div class= "well" ng-model ="VSQualifier"> <h4>Qualifier</h4>
		<div class= "listgroup">



			<div class="form-group" style="display:inline-block;">
				<label >Baseline Flag*:&nbsp;</label>
				<select class="form-control">
					<option>Yes</option>
					<option>No</option>
				</select>
			</div>



		</div>
	</div>

	<div class="well" ng-model="VSTest">

		<h4>Test</h4>
		<!-- everytime add this list group when click the add new Test -->

		<div>
			<ul class="list-group">
				<li class="list-group-item">Vital Sins Test Name(VSTEST)*: &nbsp;<input type="text" class="form-control"> </li>
				<li class="list-group-item">Result or Finding in Original Units (VSORRES)*:&nbsp;</li>
				<li class="list-group-item">Original Units (VSORRESU)*:&nbsp;<input type="text" class="form-control"></li>
			</ul>
		</div>


		<!-- everytime add this list group when click the add new Test -->
	</div>

	<div class="well" ng-model="VSTest" id="space-for-newTest"> </div>

		<div style="padding-bottom: 20px" ng-controller="addTestController">
			<addtestsbutton></addtestsbutton>


			<!--<button type="button" class="btn btn-success">Add New Test</button>-->
			<!--<span>&nbsp&nbsp</span>-->
			<!--<button type="button" class="btn btn-danger">Remove Test</button>-->
		</div>


	<!-- <div class= "well" ng-model ="Timing"> <h4>Timing</h4>
		<div class= "listgroup">
			<a href="#" class="list-group-item list-group-item-info">Start Date/Time of Visit (SVSTDTC)*:</a>
			<a href="#" class="list-group-item list-group-item-info">End Date/Time of Visit(SVENDTC)*:</a>
			<a href="more.html" class="list-group-item list-group-item-info">+More</a>

		</div>
	</div> -->


