.selected {
    background-color:black;
    color:white;
    font-weight:bold;
}
.variableNameTd{
    width:400px;
}
.btn-droppable {
    width: 200px; height: 45px; padding-left: 10px;margin-top:5px;background-color: #E9E9E9;
}
.btn-draggable {
    width: 180px;  }
ul{
    list-style-type: none;

}

.selected {
    background-color:black;
    color:white;
    font-weight:bold;
}

.stepNum{
    color:#39C2D7;
    font-weight: bold;
}
.domainTitleName, .newTestTitle{
    color:#39C2D7;
    font-weight: bold;
    text-align: center;
}

.domainSubName{
    color: #000000;
    font-weight: bold;
}
.seperateLine{
    border-bottom:  solid #AAAAAA;
}

.userInputBox{
    width: 200px;
}
.DomainCode{
    width: 150px;
    color:#39C2D7;
    font-weight: bold;
    border-right: solid #AAAAAA;
    text-align: center;

}
.DomainDescription{
    /*font-family: Verdana;*/
    font-size: large;;
}
.DomainImg{
    width: 800px;
}

.error{
    color: #942a25;
    font-size:small;
}