<div class="inmodal">
    <div class="modal-header">
    <i class="fa fa-laptop modal-icon"></i>
    <h2 class="modal-title">Create New Project</h2>
    <small class="font-bold">Fill in form below to start setting up a project</small>
</div>
    <form role="form" name="new" ng-submit="modalCtrl.ok()">
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group" ng-class="{'has-warning':new.acronym.$error.minlength}">
                        <label>Project Acronym</label>
                        <input type="text" name="acronym" ng-minlength="5" required ng-model="modalCtrl.project.name" placeholder="Enter project short name or acronym" class="form-control">
                        <div role="alert"><span class="text-warning" ng-show="new.acronym.$error.minlength">Too short!</span>
                    </div>


                    </div>
                    <div class="form-group"><label>Project Title</label> <input type="text" name="title" required ng-model="modalCtrl.project.title" placeholder="Enter Project Title" class="form-control"></div>
                        <br>

                </div>


            </div>
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="modalCtrl.cancel()">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Create Project"/>
        </div>
    </form>
</div>


