<div  ng-if="!vm.ready" style="margin-top: 150px; position: fixed; left: 0; right: 0; text-align: center" >
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>
<div class="wrapper wrapper-content animated fadeIn" ng-show="vm.ready">

    <div class="row m-t-sm m-b-md">
        <div class="col-md-10 col-md-offset-1 ibox-content">
            <h3>About {{vm.project.isNew ? ' the project': vm.project.name}}</h3>
            <div class="profile-image">
                <div class="text-center">
                    <div ng-hide="vm.uploader.queue.length > 0" style="font-size: 5em;"><i class="fa fa-camera"></i> </div>
                    <!--<div ng-show="vm.uploader.isHTML5" ng-thumb="{ file: vm.uploader.queue[0]._file, height: 100 }"></div>-->
                    <div><a>Upload project logo</a> <!--<input type="file" nv-file-select="" uploader="vm.uploader" class="btn btn-xs"/>--><br/></div>
                </div>
                <!--<img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">-->
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <p>
                        <h2 class="no-margins">
                            <!--<span class="title">Project Title: </span>-->
                            <a required editable-text="vm.project.name" buttons="no" blur="submit" e-placeholder="Enter Project Name">
                                {{vm.project.name ||'Project Short Name / Acronym'}}
                            </a>
                        </h2>
                        </p>
                        <p>
                        <h3>
                            <!--<span class="title">Project Name: </span>-->
                            <a required editable-text="vm.project.title"buttons="no" blur="submit"  e-style="color: green" e-required e-placeholder="Enter Project Title" e-formclass="class1 class2">
                                {{vm.project.title || 'Project Title'}}
                            </a>
                        </h3>
                        </p>

                        <h3>
                          <label class="label label-warning label-lg">{{ (vm.project.accession || 'P-XXX')  }}</label>


                        </h3>
                    </div>
                </div>
            </div>


            <p class="small">
                <a href="#" editable-textarea="vm.project.desc" buttons="no" blur="submit" e-rows="7" e-cols="20">
                    <pre>{{ vm.project.desc || 'No description' }}</pre>
                </a>
            </p>
            <div class="form-group">
                <label>Type</label>
                <select data-ng-model="vm.project.type" class="form-control" name="type">
                    <option value="Single study">Single Study</option>
                    <option value="Multiple study">Multiple Study</option>
                    <option value="Meta study">Meta study</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title panel-header ">
                    <span class="pull-right">
                        <!--<a ng-click ="vm.addUser()"class=" btn-link"><i class="fa fa-plus"></i></a>-->
                    </span>
                    <h3>Users</h3>

                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="u in vm.users">
                                <td class="client-avatar"><img alt="image" src="img/icon-user.png"> </td>
                                <td> {{u.firstName}} {{u.lastName}}</a></td>
                                <td> {{u.organization}}</td>
                                <td class="contact-type">
                                    <div uib-dropdown>
                                        <a class="dropdown-toggle" uib-dropdown-toggle>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu >
                                            <li> <a ng-click="vm.editUser(vm.projectId,u)"><i class="fa fa fa-edit"></i>&nbsp; Edit</a></li>

                                            <li><a ng-click="vm.removeUser(vm.projectId,u.id)"><i class="fa fa-remove"></i>&nbsp; Remove</a></li>
                                        </ul>
                                    </div>

                                </td>

                                <!--<td> {{u.email}}</td>-->
                                <!--<td class="client-status"><span class="label label-primary">Active</span></td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
 <!--           <div class="ibox">
                <div class="ibox-title"><h3>Subjects</h3></div>
                <div class="ibox-content">

                </div>
            </div>-->
            <div class="ibox">
                <div class="ibox-title panel-header">
                    <h3>Activities
                        <span class="pull-right">
                            <div has-permission="can-manage" project="vm.projectId" ng-if="!vm.project.isNew" class="dropdown slider-control" uib-dropdown>
                                <a class="dropdown-toggle" href uib-dropdown-toggle>
                                    <i class="fa fa-plus"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right plotting-options" uib-dropdown-menu>
                                    <li><a ui-sref="define.activity({projectId:vm.projectId,activityId:0})">&nbsp; New Clinical Activity</a></li>

                                    <li><a ui-sref="define.assay({projectId:vm.projectId,assayId:0})">&nbsp; New Assay</a></li>
                                </ul>
                            </div>
                        </span>
                    </h3>
                </div>
                <div class="ibox-content">
                    <div class="activities-list">
                        <div full-height-scroll >
                            <ul class="list-group clear-list">
                                <li class="list-group-item" ng-repeat="activity in vm.activities" ng-class="{'first-item':$first}">
                                    <span class="pull-right label label-primary">{{activity.isAssay ? 'Assay' : 'Clinical'}}</span>
                                    <a ng-click="vm.goToActivity(activity)">{{activity.name}}</a>
                                    <br/>
                                    <small>Last updated 03.02.2016</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div uib-alert class=" alert-info" ng-if="!vm.activities.length>0">
                        <h4>No Activities added
                            <div class=" btn-group pull-right">
                                <button class="btn btn-outline btn-sm" data-ng-disabled="vm.project.isNew" ui-sref="define.activity({projectId:vm.projectId,activityId:0})"><i class="fa fa fa-stethoscope"></i>&nbsp; New Clinical Activity</button></li>

                                <button class="btn btn-outline btn-sm" data-ng-disabled="vm.project.isNew" ui-sref="define.assay({projectId:vm.projectId,assayId:0})"><i class="fa fa-tint"></i>&nbsp; New Assay</button></li>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title panel-header">
                    <h3>Studies
                    <!--<span class="pull-right">
                        <button data-ng-disabled="vm.project.isNew" ui-sref="admin.study({projectId:vm.projectId,studyId:0})" class="btn btn-primary btn-xs"><i class="fa fa-plus"/> New Study</button>
                        </span>-->
                    </h3>

                </div>
                <div class="ibox-content ">
                    <ul class="elements-list list-group clear-list">
                        <li ng-repeat="study in vm.project.studies" class="list-group-item" ng-class="{'first-item':$first}">
                            <div class="row">
                                <div class="col-md-3">
                                    <a ui-sref="define.study({studyId:study.id, projectId:study.projectId})"><strong>{{study.name}}</strong></a>
                                </div>
                                <div class="col-md-6">{{study.title}}</div>
                                <div class="col-md-3"><span uib-tooltip="{{study.armNames}}" tooltip-placement="left" class="badge badge-info">{{study.armCount}} Cohorts</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>
