

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Projects</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home.dashboard">Home</a>
            </li>
            <li class="active">
                <strong>{{vm.project.isNew ? 'New Project' : vm.project.accession}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a ng-click="vm.saveProject()" class="btn btn-primary">{{vm.project.isNew ? 'Create Project' : 'Save'}}</a>
            <a ng-click="vm.deleteProject()" class="btn btn-primary">Delete Project</a>
            <a ng-click="vm.dontSaveProject()" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">


    <div class="row m-t-sm m-b-md">
        <div class="col-sm-4">

            <div class="profile-image">
                <div class="text-center">
                    <div style="font-size: 5em;"><i class="fa fa-camera"></i></div>
                    <div><a>Upload project logo</a></div>
                </div>

                <!--<img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">-->
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <p>
                        <h2 class="no-margins">
                            <!--<span class="title">Project Title: </span>-->
                            <a tooltip-placement="top" uib-tooltip="On the Top!" required editable-text="vm.project.name" e-placeholder="Enter Project Name">
                                {{vm.project.name ||'Project Short Name / Acronym'}}
                            </a>
                        </h2>
                        </p>
                        <p>
                        <h3>
                            <!--<span class="title">Project Name: </span>-->
                            <a required editable-text="vm.project.title" e-style="color: green" e-required e-placeholder="Enter Project Title" e-formclass="class1 class2">
                                {{vm.project.title || 'Project Title'}}
                            </a>
                        </h3>
                        </p>

                        <h3>
                          <label class="label label-warning label-lg">{{ (vm.project.accession || 'P-XXX')  }}</label>


                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3">

            <div class="ibox">
                <div class="ibox-content">
                    <h3>About {{vm.project.isNew ? ' the project': vm.project.name}}</h3>

                    <p class="small">
                        <a href="#" editable-textarea="vm.project.desc" e-rows="7" e-cols="20">
                            <pre>{{ vm.project.desc || 'No description' }}</pre>
                        </a>
                    </p>
                    <div class="form-group">
                        <label>Type</label>
                        <select data-ng-model="vm.project.type" class="form-control" name="type">
                            <option value="Single study">Single Study</option>
                            <option value="Multiple study">Multiple Study</option>
                            <option value="Meta study">Meta study</option>
                        </select>
                    </div>


                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <h3>Members and Users</h3>
                    <div class="user-friends">
                        <a style="padding-left:5px" uib-tooltip="{{u}}" ng-repeat="u in vm.project.users"><img alt="image" class="img-circle" src="img/icon-user.png">{{u}}</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-5">
            <div class="ibox">
                <div class="ibox-title"><h3>Subjects</h3></div>
                <div class="ibox-content">

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Activities
                        <span class="pull-right">
                            <div ng-if="!vm.project.isNew" class="dropdown slider-control" uib-dropdown>
                                <a class="dropdown-toggle" href uib-dropdown-toggle>
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class=" dropdown-menu dropdown-menu-right plotting-options">
                                    <li> <a ui-sref="admin.activity({projectId:vm.projectId,activityId:0})"><i class="fa fa fa-stethoscope"></i>&nbsp; New Clinical Activity</a></li>

                                    <li><a ui-sref="admin.assay({projectId:vm.projectId,assayId:0})"><i class="fa fa-tint"></i>&nbsp; New Assay</a></li>
                                </ul>
                            </div>
                        </span>
                    </h3>
                </div>
                <div class="ibox-content">

                    <div class="activities-list">
                        <div class="full-height-scroll" >
                            <ul class="list-group clear-list">
                                <li class="list-group-item" ng-repeat="activity in vm.activities" ng-class="{'first-item':$first}">
                                    <span class="pull-right label label-primary">{{activity.isAssay ? 'Assay' : 'Clinical'}}</span>
                                    <a ng-click="vm.goToActivity(activity)">{{activity.name}}</a>
                                    <br/>
                                    <small>Last updated 03.02.2016</small>
                                </li>
                            </ul>
                        </div>



                    </div>
                    <div uib-alert class=" alert-info" ng-if="!vm.activities.length>0">
                        <h4>No Activities added
                            <div class=" btn-group pull-right">
                                <button class="btn btn-outline btn-sm" data-ng-disabled="vm.project.isNew" ui-sref="admin.activity({projectId:vm.projectId,activityId:0})"><i class="fa fa fa-stethoscope"></i>&nbsp; New Clinical Activity</button></li>

                                <button class="btn btn-outline btn-sm" data-ng-disabled="vm.project.isNew" ui-sref="admin.assay({projectId:vm.projectId,assayId:0})"><i class="fa fa-tint"></i>&nbsp; New Assay</button></li>
                            </div>
                        </h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Studies
                    <!--<span class="pull-right">
                        <button data-ng-disabled="vm.project.isNew" ui-sref="admin.study({projectId:vm.projectId,studyId:0})" class="btn btn-primary btn-xs"><i class="fa fa-plus"/> New Study</button>
                        </span>-->
                    </h3>

                </div>
                <div class="ibox-content ">
                    <ul class="elements-list list-group clear-list">
                        <li ng-repeat="study in vm.project.studies" class="list-group-item" ng-class="{'first-item':$first}">
                            <div class="row">
                                <div class="col-md-3">
                                    <a ui-sref="admin.study({studyId:study.id, projectId:study.projectId})"><strong>{{study.name}}</strong></a>
                                </div>
                                <div class="col-md-6">{{study.title}}</div>
                                <div class="col-md-3"><span uib-tooltip="{{study.armNames}}" tooltip-placement="left" class="badge badge-info">{{study.armCount}} Cohorts</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>
