body.md-skin {
    /*font-family: 'Ruda', sans-serif;*/
    /*font-family: "Ruda","Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: "Open Sans";*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Questrial', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    background-color: #ffffff;
}
.md-skin .nav-header {
    background: url("../../img/header-profile.png") no-repeat;
}
.md-skin .label,
.md-skin .badge {
    font-family: 'Questrial';
}
.md-skin .font-bold {
    font-weight: 500;
}
.md-skin .wrapper-content {
    padding: 20px 10px 40px;
}
@media (max-width: 768px) {
    .md-skin .wrapper-content {
        padding: 30px 0 40px;
    }
}
.md-skin .page-heading {
    border-bottom: none !important;
    border-top: 0;
    padding: 0 10px 20px 10px;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0px 6px 0px rgba(0, 0, 0, 0.14);
}
.md-skin .full-height-layout .page-heading {
    border-bottom: 1px solid #e7eaec !important;
}
.md-skin .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin .ibox.border-bottom {
    border-bottom: none !important;
}
.md-skin .ibox-title,
.md-skin .ibox-content {
    border-style: none;
    padding: 15px 15px 10px 15px;
}
.md-skin .ibox-title h5 {
    font-size: 16px;
    font-weight: 400;
}
.md-skin a.close-canvas-menu {
    color: #ffffff;
}
.md-skin .welcome-message {
    color: #ffffff;
    font-weight: 300;
}
.md-skin #top-search::-moz-placeholder {
    color: #ffffff;
}
.md-skin #top-search::-webkit-input-placeholder {
    color: #ffffff;
}
.md-skin #nestable-output,
.md-skin #nestable2-output {
    font-family: 'Roboto', lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
}
.md-skin .landing-page {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}
.md-skin .landing-page.navbar-default.navbar-scroll {
    background-color: #fff !important;
}
.md-skin .landing-page.navbar-default {
    background-color: transparent !important;
    box-shadow: none;
}
.md-skin .landing-page.navbar-default .nav li a {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}
.md-skin .nav > li > a {
    color: #676a6c;
    padding: 14px 20px 14px 25px;
}
.md-skin .nav.navbar-right > li > a {
    color: #ffffff;
}
.md-skin .nav > li.active > a {
    color: #5b5d5f;
    font-weight: 700;
}
.md-skin .navbar-default .nav > li > a:hover,
.md-skin .navbar-default .nav > li > a:focus {
    font-weight: 700;
    color: #5b5d5f;
}
.md-skin .nav .open > a,
.md-skin .nav .open > a:hover,
.md-skin .nav .open > a:focus {
    background: #256e93;
}
.md-skin .navbar-top-links li {
    display: inline-table;
}
.md-skin .navbar-top-links .dropdown-menu li {
    display: block;
}
.md-skin .pace-done .nav-header {
    transition: all 0.4s;
}
.md-skin .nav > li.active {
    background: #f8f8f9;
}
.md-skin .nav-second-level li a {
    padding: 7px 10px 7px 52px;
}
.md-skin .navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}
.md-skin .nav > li > a {
    font-weight: 400;
}
.md-skin .navbar-static-side .nav > li > a:focus,
.md-skin .navbar-static-side .nav > li > a:hover {
    background-color: inherit;
}
.md-skin .navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: inherit;
}
.md-skin .nav-header a {
    color: #ffffff;
}
.md-skin .nav-header .text-muted {
    color: #ffffff;
}
.md-skin .navbar-form-custom .form-control {
    font-weight: 300;
}
.md-skin .mini-navbar .nav-second-level {
    background-color: inherit;
}
.md-skin .mini-navbar li.active .nav-second-level {
    left: 65px;
}
.md-skin .canvas-menu.mini-navbar .nav-second-level {
    background: inherit;
}
.md-skin .pace-done .navbar-static-side,
.md-skin .pace-done .nav-header,
.md-skin .pace-done li.active,
.md-skin .pace-done #page-wrapper,
.md-skin .pace-done .footer {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.md-skin .navbar-fixed-top {
    background: #fff;
    transition-duration: 0.4s;
    z-index: 2030;
    border-bottom: none !important;
}
.md-skin .navbar-fixed-top,
.md-skin .navbar-static-top {
    background-color: #2C3E50 !important;
    /*background-color: #35495E;*/
    /*background-color: #304A54;*/
    /*background-color: #2C3E50; !important;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin .navbar-static-side {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    /*background-color: #35495E;*/
    /*background-color: #304A54;*/
    background-color: #2C3E50;
}
.md-skin #right-sidebar {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
    z-index: 900;
}
.md-skin .white-bg .navbar-fixed-top,
.md-skin .white-bg .navbar-static-top {
    background: #fff !important;
}
.md-skin .contact-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
}
.md-skin .dashboard-header {
    border-bottom: none !important;
    border-top: 0;
    padding: 20px 20px 20px 20px;
    margin: 30px 20px 0 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
    .md-skin .dashboard-header {
        margin: 20px 0 0 0;
    }
}
.md-skin ul.notes li div {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin .file {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin .mail-box {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 0;
    margin-bottom: 20px;
    border: none;
}
.md-skin .mail-box-header {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 30px 20px 20px 20px;
}
.md-skin .mailbox-content {
    border: none;
    padding: 20px;
    background: #ffffff;
}
.md-skin .social-feed-box {
    border: none;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin.landing-page .navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: none;
}
.md-skin.landing-page .navbar-default.navbar-scroll,
.md-skin.landing-page.body-small .navbar-default {
    background-color: #ffffff !important;
}
.md-skin.landing-page .nav > li.active {
    background: inherit;
}
.md-skin.landing-page .navbar-scroll .navbar-nav > li > a {
    padding: 20px 10px;
}
.md-skin.landing-page .navbar-default .nav li a {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}
.md-skin.landing-page .nav > li > a {
    padding: 25px 10px 15px 10px;
}
.md-skin.landing-page .navbar-default .navbar-nav > li > a:hover,
.md-skin.landing-page .navbar-default .navbar-nav > li > a:focus {
    background: inherit;
    color: #256e93;
}
.md-skin.landing-page.body-small .nav.navbar-right > li > a {
    color: #676a6c;
}
.md-skin .landing_link a,
.md-skin .special_link a {
    color: #ffffff !important;
}
.md-skin.canvas-menu.mini-navbar .nav-second-level {
    background: #f8f8f9;
}
.md-skin.mini-navbar .nav-second-level {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin.mini-navbar .nav-second-level li a {
    padding-left: 0px;
}
.md-skin.top-navigation .nav.navbar-right > li > a {
    padding: 15px 20px;
    color: #676a6c;
}
.md-skin.top-navigation .nav > li a:hover,
.md-skin .top-navigation .nav > li a:focus,
.md-skin.top-navigation .nav .open > a,
.md-skin.top-navigation .nav .open > a:hover,
.md-skin.top-navigation .nav .open > a:focus {
    color: #2b9cc7;
    background: #ffffff;
}
.md-skin.top-navigation .nav > li.active a {
    color: #256e93;
    background: #ffffff;
}
.md-skin.fixed-nav #wrapper.top-navigation #page-wrapper {
    margin-top: 0;
}
.md-skin.fixed-sidebar.mini-navbar .navbar-static-side {
    width: 0;
}
.md-skin.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
}
.md-skin.body-small.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
}
.md-skin.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
    width: 220px;
    /*background-color: #ffffff;*/
    /*background-color: #35495E;*/
    /*background-color: #304A54;*/
    background-color: #2C3E50;
}
.md-skin.canvas-menu nav.navbar-static-side {
    z-index: 2001;
    background: #ffffff;
    height: 100%;
    position: fixed;
    display: none;
}
@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 220px;
        min-height: 1200px;
    }
    .navbar-static-side {
        z-index: 2001;
        position: absolute;
        width: 220px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
@media (max-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0px;
        min-height: 1000px;
    }
    .body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: absolute;
        width: 70px;
    }
    .body-small.mini-navbar .navbar-static-side {
        display: block;
    }
    .lock-word {
        display: none;
    }
    .navbar-form-custom {
        display: none;
    }
    .navbar-header {
        display: inline;
        float: left;
    }
    .sidebard-panel {
        z-index: 2;
        position: relative;
        width: auto;
        min-height: 100% !important;
    }
    .sidebar-content .wrapper {
        padding-right: 0px;
        z-index: 1;
    }
    .fixed-sidebar.body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: fixed;
        width: 220px;
    }
    .fixed-sidebar.body-small.mini-navbar .navbar-static-side {
        display: block;
    }
    .ibox-tools {
        float: none;
        text-align: right;
        display: block;
    }
}
@media (max-width: 350px) {
    .timeline-item .date {
        text-align: left;
        width: 110px;
        position: relative;
        padding-top: 30px;
    }
    .timeline-item .date i {
        position: absolute;
        top: 0;
        left: 15px;
        padding: 5px;
        width: 30px;
        text-align: center;
        border: 1px solid #e7eaec;
        background: #f8f8f8;
    }
    .timeline-item .content {
        border-left: none;
        border-top: 1px solid #e7eaec;
        padding-top: 10px;
        min-height: 100px;
    }
    .nav.navbar-top-links li.dropdown {
        display: none;
    }
    .ibox-tools {
        float: none;
        text-align: left;
        display: inline-block;
    }
}

.md-skin .btn .btn-primary{
    background-color: #019baa;
    font-family: 'Questrial';
}

.md-skin .alternateFieldBkg:nth-child(even)
    {background: #CCC}

.logo{
float: left;
    width: 180px;
    height: 60px;
    padding: 0 0 0 10px;
    position: relative;
}

.md-skin .file-list.clickable > li{
    cursor: pointer;
}
.md-skin .file-list.clickable > li:hover,
.md-skin .file-list.clickable > li:active,
.md-skin .file-list.clickable > li a.selected{
    background-color: #26d7d9;
    border-color: #26d7d9;
    color: #FFFFFF;
    z-index: 2;
}
.md-skin .wizard > .steps > ul > li{
    width: 20%;
}

/*
.thumb .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 0.1pt;
    padding: 3px;
    vertical-align: top;
}

.thumb .progress{
    height: 10px;
    margin-bottom: 10px;
}
.thumb .progress-bar{
    font-size: 6px;
    line-height: 10px;
}
*/

