<div style="width:320px">
    <slick id="{{val}}_slider" dots="true" slides-to-show="1" center-mode="false" variable-width="true">

        <dc-chart ng-repeat="chart in charts"></dc-chart>
        <!-- dc-chart ng-repeat and add the observation info as a parameter addin becomes adding an observation to the scope of this directive-->
        <!--/*'<div> <div class="ibox-content"> <h2>Slide 1</h2> <p> ' +-->
            <!--'Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industrys standard dummy text ever since the 1500s, when anunknown printer took a galley of type and scrambled it to make a type specimenbook. It has survived not only five centuries, but also the leap. ' +-->
            <!--'</p> </div> </div>'+-->
        <!--'<div> <div class="ibox-content"> <h2>Slide 1</h2> <p> ' +-->
            <!--'Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industrys standard dummy text ever since the 1500s, when anunknown printer took a galley of type and scrambled it to make a type specimenbook. It has survived not only five centuries, but also the leap. ' +-->
            <!--'</p> </div> </div>'+-->
        <!--'<div> <div class="ibox-content"> <h2>Slide 1</h2> <p> ' +-->
            <!--'Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industrys standard dummy text ever since the 1500s, when anunknown printer took a galley of type and scrambled it to make a type specimenbook. It has survived not only five centuries, but also the leap. ' +-->
            <!--'</p> </div> </div>'+-->
        <!--'<div> <div class="ibox-content"> <h2>Slide 1</h2> <p> ' +-->
            <!--'Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industrys standard dummy text ever since the 1500s, when anunknown printer took a galley of type and scrambled it to make a type specimenbook. It has survived not only five centuries, but also the leap. ' +-->
            <!--'</p> </div> </div>'+*/-->
    </slick>
</div>