


.node-toggle {
    /*padding: 2px 5px;*/
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
}

.node-toggle a{
    font-size:1.5em;
}
.node-toggle a.collapsed:before{
    font-family: FontAwesome;
    content: "\f0da";
}

.node-toggle a:before{
    font-family: FontAwesome;
    content: "\f0d7";
}
.obs-lock{
    color: inherit;
    font-size:initial;
}
.obs-lock:before{
    font-family: FontAwesome;
    /*color: #dd7a2a;*/
    content: "\f13e";
}

/*.obs-lock.on {
    color: #000;
}*/
.obs-lock.on:before{
    font-family: FontAwesome;
    content: "\f023";
}


.clinical-tree ul{
    /*width: 100%;*/
    /*position: relative;*/
    margin-bottom: 10px;
    list-style: none;
    padding:0px;
}

.clinical-tree ul li {
    padding: 1px 1px 1px 20px;
    position: relative;
}

.clininical-tree .plotting-options ul{
    overflow: scroll;
}

/*.clinical-tree .list-group-node  {
    !*background-color: inherit;*!
    !*display: block;*!
    !*margin-bottom: -1px;*!
    padding: 1px 1px 1px 20px;
    position: relative;
    !*border: none;*!
    !*font-size: 12px;*!
    !*font-weight: bold;*!
}*/
/*.clinical-tree .list-group-item  {
    background-color: inherit;
    display: block;
    padding: 1px 17px;
    position: relative;
    border: none;

    !*font-weight: bold;*!
}*/

.clinical-tree .list-item{
    margin: 0px 10px 0px;
    color: inherit;
    font-size: 1.2em;
    width: 100%;
    height: 30px;
    max-height: 30px;
    line-height: 30px;
    text-align: left;
    /*text-indent: 2px;*/
    border-bottom: 1px rgba(0, 175, 188, 0.24) solid;
    float: none;
    display: inline-block;


    position: relative;

}
.clinical-tree .list-item-text{
    padding-left:10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:85%;
    position: absolute;
    text-transform: capitalize;
}

.clinical-tree .list-item-text-sel{
    border-bottom: 1px rgba(0, 175, 188, 0.24) solid;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.clinical-tree .selectDiv .grp-name{

    /*font-size: 1.3em;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    padding:5px;
    border-bottom: 1px solid #b5dfe2;
    margin-right: 40px;
}

.clinical-tree .list-item.group{
    padding-left:25px;
}

.clinical-tree .list-item.group.locked{
    padding-left:0px;
    border-bottom: 1px #f5f5f5 solid;

}

.clinical-tree .list-item.selected{
   background-color: rgba(205, 255, 59, 0.28);
}

.clinical-tree .node-select{
    position: absolute;
    top: 4px;
    left: 33px;
    border: 1px solid white;
}

.clinical-tree .selectDiv{
    min-height: 100px;
    /* border-bottom: 1px solid #00AFBC; */
    /* padding: 10px; */
    margin-left: -10px;
    margin-top: -6px;
    margin-right: -13px;
    background-color: rgba(107, 202, 204, 0.13);
    padding: 10px 15px 5px 10px;

}

.clinical-tree .link-btn{
    position: absolute;
    top:4px;
    right:-10px;
}

.qualifier-menu{
    position: absolute;
    right:0px;
    top:4px;

}
.qualifier-menu i{
    font-size:18px;
    color: #ccc;
}
.qualifier-menu  i:hover, i:active {
    /*border: 1px solid #5bb8b7;*/
    /*background-color: #1ececc;*/
    /*right: 0px;*/
    color:#23c6c8;
}

.plotting-options > li{

    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 0px 0px 2px;
    max-width: 250px;
    overflow: hidden;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.plotting-options.dropdown-menu label{
    font-weight: 200;
    margin-bottom: 0px;
    padding-left: 10px;
}

.plotting-options.dropdown-menu {
    top: 25px;
    width: 250px;

}



.plotting-options .dropdown-header{
    background: #132634;
    color: #FFFFFF;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.plotting-options .dropdown-item{



}

.plotting-switch {
    position: absolute;
    top: -4px;
    right: 10px;
}


/* iCheck plugin Square skin, aero
----------------------------------- */
.icheckbox_square-aero{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(aero.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-aero {
    background-position: 0 0;
}
.icheckbox_square-aero.hover {
    background-position: -24px 0;
}
.icheckbox_square-aero.checked {
    background-position: -48px 0;
}
.icheckbox_square-aero.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-aero.checked.disabled {
    background-position: -96px 0;
}