
<div class="row">
    <div class="col-lg-12 m-t-md">
        <div class="ibox float-e-margins">
            <div class="ibox-title panel-header">
                <h3>{{vm.title}}</h3>
            </div>
            <div>
                <uib-tabset class="models-list">
                    <uib-tab>
                        <uib-tab-heading>
                            <p class="model-name">
                                Human subjects
                            </p>
                            <p class="model-icon">
                                <span class="flaticon-standing55"></span>
                                <dc-count-widget
                                        xfilter-service="{{vm.chartingOpts.xfilterService}}"
                                        chart-service="{{vm.chartingOpts.DCchartService}}"
                                        module="{{vm.chartingOpts.chartGroup}}">
                                </dc-count-widget>
                            </p>

                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-md-4">
                                <div style=" max-height: 395px;overflow: scroll;">
                                    <h3 class="m-md">Design Elements</h3>
                                    <div class="clinical-tree">
                                        <ul>
                                            <div class="list-item" ng-repeat="de in vm.DEs" >
                                                <div class="plotting-switch">
                                                    <a class="switchery"
                                                       id="sc_{{de.id}}"
                                                       ng-init="de.isActive = false"
                                                       ng-class="{on:de.isActive}"
                                                       ng-click="de.isActive = !de.isActive;expVM.plotSwitchClicked(de,vm.chartingOpts.chartGroup)" >
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </div>
                                                <span class="list-item-text">{{de.o3}}</span>
                                            </div>
                                        </ul>
                                    </div>
                                    <h3 class="m-md">Subject Characteristics</h3>
                                    <div class="clinical-tree"style="max-height: 316px; margin-bottom: 20px;">
                                        <ul>
                                            <div class="list-item" ng-repeat="sc in vm.SCs" >
                                                <div class="plotting-switch">
                                                    <a class="switchery"
                                                       id="sc_{{sc.id}}"
                                                       ng-init="sc.isActive = false"
                                                       ng-class="{on:sc.isActive}"
                                                       ng-click="sc.isActive = !sc.isActive;expVM.plotSwitchClicked(sc,vm.chartingOpts.chartGroup)">
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </div>
                                                <span class="list-item-text">{{sc.o3}}</span>
                                            </div>
                                        </ul>
                                    </div>
                                    <h3 ng-if ="vm.TPs.length > 0" class="m-md">Subject Date/Time Properties</h3>
                                    <div class="clinical-tree"style="max-height: 316px;">
                                        <ul>
                                            <div class="list-item" ng-repeat="tp in vm.TPs" >
                                                <div class="plotting-switch">
                                                    <a class="switchery"
                                                       id="sc_{{tp.id}}"
                                                       ng-init="tp.isActive = false"
                                                       ng-class="{on:tp.isActive}"
                                                       ng-click="tp.isActive = !tp.isActive;expVM.plotSwitchClicked(tp,vm.chartingOpts.chartGroup)" >
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </div>
                                                <span class="list-item-text">{{tp.o3}}</span>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ibox-title">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <label class="btn btn-xs btn-white" ng-model="show" uib-btn-radio="'plots'">Data Plots</label>
                                            <label class="btn btn-xs btn-white" ng-model="show" uib-btn-radio="'table'">Data Table</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="ibox-content">
                                    <div class="anchor">
                                        <div class="charts-container" id="subject-plots" ng-hide="show =='table'">

                                            <div ng-repeat="req in expVM.cartQuery.subjCharRequests" class="cardlock " id="{{req.cardId}}">
                                                <div class="card">
                                                    <h1 class="border-bottom">{{req.o3}}
                                                        <span class="pull-right" style="padding-right: 5px">
                                                            <a ng-click="req.isActive = false;expVM.plotSwitchClicked(req,vm.chartingOpts.chartGroup)">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </span>
                                                    </h1>
                                                    <div id="{{req.chartId}}" class="chart" ng-switch="req.dataType">
                                                        <dc-time-chart ng-switch-when="dateTime" charting-opts="vm.chartingOpts" obs="req"></dc-time-chart>
                                                        <dc-chart ng-switch-default charting-opts="vm.chartingOpts"
                                                                  obs="req"
                                                                  module="vm.chartingOpts.chartGroup"
                                                                  on-filtered="expVM.onFiltered(obsId,module,filters,filter)"></dc-chart>
                                                    </div>
                                                </div>
                                            </div>


                                            <div ng-hide="expVM.cartQuery.subjCharRequests.length > 0" class="cardlock placeholder">
                                                <div class="anchor">
                                                    <div class="card">
                                                        <div class="cardholder">
                                                            <i class="material-icons">insert_chart</i><br/>
                                                            Click an observation to explore here
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div  id="subject-datatable" ng-hide="vm.show =='plots'" class="table-view" style="background-color: white;">
                                            <dc-datatable class="table table-striped table-bordered table-hover dc-data-table"
                                                          chart-service="{{vm.chartingOpts.DCchartService}}"
                                                          xfilter-service="{{vm.chartingOpts.xfilterService}}"
                                                          grp="{{vm.chartingOpts.chartGroup}}"
                                                          module="{{vm.chartingOpts.chartGroup}}"></dc-datatable>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </uib-tab>


                    <uib-tab>
                        <uib-tab-heading>
                            <p class="model-name">
                                Animal subjects
                            </p>
                            <p class="model-icon">
                                <span class="flaticon-rat2"></span>
                                <span class="model-count">0</span>
                            </p>

                        </uib-tab-heading>
                        <div id="xenograft-plots" class="alert alert-info">
                            No Animal Subjects
                        </div>

                        <div class="clearfix"></div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <p class="model-name">
                                Cell Line Cultures
                            </p>
                            <p class="model-icon">
                                <span class="flaticon-cells"></span>
                                <span class="model-count">0</span>
                            </p>

                        </uib-tab-heading>
                        <div class="alert alert-info">&nbsp;No Cell lines</div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>



