
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title panel-header">
                <h3>{{vm.title}}</h3>
            </div>
            <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4 m-t-md m-b-md">
                                <div style=" max-height: 395px;overflow: scroll;padding: 0px 20px">
                                    <h3>Design Elements</h3>
                                    <div class="clinical-tree">
                                        <ul>
                                            <div class="list-item" ng-repeat="de in vm.DEs" >
                                                <div class="plotting-switch">
                                                    <a class="switchery"
                                                       id="sc_{{de.id}}"
                                                       ng-init="de.isActive = false"
                                                       ng-class="{on:de.isActive}"
                                                       ng-click="de.isActive = !de.isActive;expVM.plotSwitchClicked(de,vm.chartingOpts.chartGroup)" >
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </div>
                                                <span class="list-item-text">{{de.o3}}</span>
                                            </div>
                                        </ul>
                                    </div>
                                    <h3>Subject Characteristics</h3>
                                    <div class="clinical-tree">
                                        <ul>
                                            <div class="list-item" ng-repeat="sc in vm.SCs" >
                                                <div class="plotting-switch">
                                                    <a class="switchery"
                                                       id="sc_{{sc.id}}"
                                                       ng-init="sc.isActive = false"
                                                       ng-class="{on:sc.isActive}"
                                                       ng-click="sc.isActive = !sc.isActive;expVM.plotSwitchClicked(sc,vm.chartingOpts.chartGroup)">
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </div>
                                                <span class="list-item-text">{{sc.o3}}</span>
                                            </div>
                                        </ul>
                                    </div>
                                    <h3 ng-if ="vm.TPs.length > 0">Subject Date/Time Properties</h3>
                                    <div class="clinical-tree">
                                        <ul>
                                            <div class="list-item" ng-repeat="tp in vm.TPs" >
                                                <div class="plotting-switch">
                                                    <a class="switchery"
                                                       id="sc_{{tp.id}}"
                                                       ng-init="tp.isActive = false"
                                                       ng-class="{on:tp.isActive}"
                                                       ng-click="tp.isActive = !tp.isActive;expVM.plotSwitchClicked(tp,vm.chartingOpts.chartGroup)" >
                                                        <i class="material-icons">insert_chart</i>
                                                    </a>
                                                </div>
                                                <span class="list-item-text">{{tp.o3}}</span>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ibox-content">
                                    <div class="anchor">
                                        <div class="charts-container" id="subject-plots" ng-hide="show =='table'">

                                            <div ng-repeat="req in expVM.cartQuery.subjCharRequests" class="cardlock " id="{{req.cardId}}">
                                                <div class="card">
                                                    <h1 class="border-bottom">{{req.o3}}
                                                        <span class="pull-right" style="padding-right: 5px">
                                                            <a ng-click="req.isActive = false;expVM.plotSwitchClicked(req,vm.chartingOpts.chartGroup)">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </span>
                                                    </h1>
                                                    <div id="{{req.chartId}}" class="chart" ng-switch="req.dataType">
                                                        <dc-time-chart ng-switch-when="dateTime" charting-opts="vm.chartingOpts" obs="req" on-filtered="expVM.onFiltered(obsId,module,filters,filter)"></dc-time-chart>
                                                        <dc-chart ng-switch-default charting-opts="vm.chartingOpts"
                                                                  obs="req"
                                                                  module="vm.chartingOpts.chartGroup"
                                                                  on-filtered="expVM.onFiltered(obsId,module,filters,filter)"></dc-chart>
                                                    </div>
                                                </div>
                                            </div>


                                            <div ng-hide="expVM.cartQuery.subjCharRequests.length > 0" class="cardlock placeholder">
                                                <div class="anchor">
                                                    <div class="card">
                                                        <div class="cardholder">
                                                            <i class="material-icons">insert_chart</i><br/>
                                                            Click an observation to explore here
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>



