

<div id="subject-data" class="content">

    <!--<div class="panel subject-panel">-->
        <div class="panel-header">
            <h3 style="padding-left: 3px;padding-top: 3px;"><span class="flaticon-standing55" style="color: #39b3d7; margin-right: -10px;font-size: 1.4em;"></span> {{title}}</h3>
        </div>

        <tabset class="models-list">
            <tab>
                <tab-heading>
                    <p class="model-icon">
                        <span class="flaticon-standing55"></span>
                        <dc-count-widget cf="cf"></dc-count-widget>
                    </p>
                    <p class="model-name">
                        Human subjects
                    </p>
                </tab-heading>
                <div id="subject-plots" class="plots-view"></div>

                <div class="clearfix"></div>

                <div class="subject" style="border-top: 1px solid #72879C">
                    <div class="option-list">
                        <ul id="subjChars">
                            <li ng-repeat="sc in subjCharsDB" >
                                <label id="sc_{{sc}}"
                                       charting-button
                                       val="{{sc}}"
                                       active="{{isActive}}"
                                       container="{{subjChartContainerId}}"
                                       section="{{section}}"
                                       grp="{{section}}"
                                       chart-service="{{chartService}}"
                                       ng-class="{'active': isActive}"
                                       ng-init="isActive = false"
                                       ng-click="isActive = !isActive">
                                    {{sc}}
                                </label>
                                <!-- <div data-toggle="tooltip" data-placement="bottom" title="Add Variable to export" ng-click="addCriterion(sc,'Transcription Profiling')" style="cursor:pointer; margin-left: -10px;"
                                      class="flaticon-download164"></div>-->
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>

            </tab>


            <tab>
                <tab-heading>
                    <p class="model-icon">
                        <span class="flaticon-rat2"></span>
                        <span class="model-count"></span>
                    </p>
                    <p class="model-name">
                        Animal subjects
                    </p>
                </tab-heading>
                <div id="xenograft-plots" style="margin-bottom: 0px;margin: 40px;border-top: 1px solid #72879C;"
                      class="plots-view">
                </div>

                <div class="clearfix"></div>

                <div class="subject" style="border-top: 1px solid #72879C">
                    <div class="option-list">
                        <ul id="xenoChars" class="pull-left">
                            <li ng-repeat="sc in subjChars" >
                                <label id="xeno_{{$index}}"
                                       charting-button val="{{sc}}" active="{{isActive}}"
                                       container="{{subjChartContainerId}}"
                                       section="{{section}}"
                                       grp="{{section}}"
                                       cf="cf"
                                       ng-class="{'': !isActive, 'active': isActive}"
                                       ng-init="isActive = false"
                                       ng-click="isActive = !isActive">
                                    {{sc}}
                                </label>
                                <!-- <div data-toggle="tooltip" data-placement="bottom" title="Add Variable to export" ng-click="addCriterion(sc,'Transcription Profiling')" style="cursor:pointer; margin-left: -10px;"
                                      class="flaticon-download164"></div>-->
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </tab>


            <tab>
                <tab-heading>
                    <p class="model-icon">
                        <span class="flaticon-cells"></span>
                        <span class="model-count"></span>
                    </p>
                    <p class="model-name">
                        Cell Line Cultures
                    </p>
                </tab-heading>
                <div>&nbsp;</div>
            </tab>
        </tabset>


        <div class="clearfix"></div>


    <!--</div>-->
</div>

<!--<div class="panel export-panel" ng-controller="ExportCtrl">
    <div class="panel-header">
        <h3><span class="glyphicon glyphicon-book" style="color: #39b3d7; margin-right: 3px"></span> Data export
        </h3>
    </div>

    <div>
        <div class="export">
            <section  ng-show="criteria.showSubjSection">
                <h2>Subjects</h2>
                <ul>
                    <li ng-repeat="scr in subjCriteria">
                        {{scr.value}}{{scr.filter}}</li>
                    <li>Cohort = "M"</li>
                </ul>
            </section>

            <section  ng-show="criteria.showClinicalSection">
                <h2>Clinical</h2>
                <ul>
                    <li ng-repeat="ccr in clinicCriteria">
                        {{ccr.value}}{{ccr.filter}}</li>
                    <li>Surgery (All)</li>
                    <li>Days to progression > 120</li>
                </ul>
            </section>

            <section ng-show="criteria.showAssaySection">
            <h2>Assays</h2>
            <ul>
                <li ng-repeat="assayGrp in criteria.assayGrps">
                    {{assayGrp.name}}
                    <ul>
                        <li ng-repeat="acr in assayGrp.assayCriteria">
                            {{acr.value}}{{acr.filter}}
                        </li>
                        <li>{{select}}{{filter}}Sample Origin = Xenograft</li>
                        <li>Tissue (All)</li>
                        <li>Treatment (All)</li>
                        <li>Treatement Response[TC] > 120</li>
                    </ul>
                </li>


            </ul>
            </section>
        </div>

    </div>
</div>
</div>-->

<div class="clearfix"></div>

