
<html ng-app="drag-and-drop">
<head lang="en">
  <meta charset="utf-8">
  <title>Drag & Drop: Multiple listsr</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="src/angular-dragdrop.min.js"></script>
  <script src="sample.js"></script>
  
</head>
<body>

  <style>
   
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
  </style>


  <!--User upload section-->
  <body>
   <div ng-controller="userUploadVariablesCtr">
      
     <!--User upload part-->
     <div class="row">
      <div class="col-md-4">
        <ul>
          <li ng-repeat="item in userUploadVariables" >
        <div class="btn btn-droppable" data-drop="true" ng-model='userUploadVariables' jqyoui-droppable="{index: {{$index}}}">
          <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="userUploadVariables" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}" ng-hide="!item.title">{{item.title}}</div>
        </div>
        </li>
        </ul>
      </div>
    </div>  



     <h4>Identifier</h4>

      <div ng-controller="mappingFormSelectionController" >
        <table class="table table-bordered " >
          <tr ng-repeat="Identifier in standardsData.indentifiers" >
            <td > {{Identifier.label}} ({{Identifier.name}}) :</td>
            <td>  
              <div class="btn btn-droppable" data-drop="true" ng-model='identifierList' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
        <div class="btn btn-info btn-draggable" ng-show="identifierList[$index].title" data-drag="{{identifierList[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="identifierList" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{identifierList[$index].title}}</div>
      </div>
    </div>

              </td>
            </tr>
            </table>
          </div>

        </div>

    <div ng-repeat="image in images">
      <div class="btn btn-droppable" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
        <div class="btn btn-info btn-draggable" ng-show="list1[$index].title" data-drag="{{list1[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{list1[$index].title}}</div>
      </div>
    </div>

    </div>


  </body>  
</html>
    