<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title panel-header">
                <h3><span class="flaticon-man412" style="color: #39b3d7;"></span> Clinical Observations</h3>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="clinical-tree ">
                            <cl-tree-class ng-repeat="class in clinicalObservations.classes" class="class" onplot="expVM.plotSwitchClicked(obsReq,obsModule)"></cl-tree-class>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="ibox-title"></div>
                        <div class="ibox-content">
                            <div class="anchor">
                                <div class="charts-container">
                                    <div id="clinical_plots" ng-hide="vm.show =='eventsTable' || vm.show =='findingsTable'">
                                        <div ng-repeat="req in expVM.cartQuery.obsRequests" class="cardlock " id="{{req.cardId}}">
                                            <div class="card">
                                                <h1 class="border-bottom">{{req.o3}}
                                                    <span class="pull-right" style="padding-right: 5px"><a ng-click="req.isActive = false;expVM.plotSwitchClicked(req,chartingOpts.chartGroup)"><i class="fa fa-times"></i></a></span>
                                                </h1>
                                                <div id="{{req.chartId}}" class="chart" ng-switch="req.dataType">
                                                    <dc-time-chart ng-switch-when="dateTime" charting-opts="chartingOpts" obs="req"></dc-time-chart>
                                                    <dc-chart ng-switch-default charting-opts="chartingOpts"
                                                              obs="req"
                                                              module="chartingOpts.chartGroup"
                                                              on-filtered="expVM.onFiltered(obsId,module,filters,filter)"></dc-chart>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-hide="expVM.cartQuery.obsRequests.length > 0" class="cardlock placeholder">
                                            <div class="anchor">
                                                <div class="card">
                                                    <div class="cardholder">
                                                        <i class="material-icons">insert_chart</i><br/>
                                                        Click an observation to explore here
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>