<link type="text/css" rel="stylesheet" href="explore/clinical/css/clinicalDataTree.css" />

<div id="clinical-data" class="panel">
    <div class="panel-header">
        <h3 style="padding: 10px;"><span class="flaticon-man412" style="color: #39b3d7; margin-right: 3px"></span> Clinical Observations
        </h3>
    </div>
    <div class="">
        <div class="col-lg-3">
                    <!--<span class="pull-right text-right">
                    <small>Average value of sales in the past month in: <strong>United states</strong></small>
                        <br/>
                        All sales: 162,862
                    </span>-->

            <h1 class="m-b-xs">
                <dc-count-widget
                    xfilter-service="{{xfilterService}}"
                    chart-service="{{DCchartService}}"
                    grp="{{chartGroup}}">
                </dc-count-widget>
            </h1>

            <h3 class="font-bold no-margins">
                SUBJECTS
            </h3>
           <!-- <small>Sales marketing.</small>-->
        </div>
        <div class="col-lg-3">
            <!--<span class="pull-right text-right">
            <small>Average value of sales in the past month in: <strong>United states</strong></small>
                <br/>
                All sales: 162,862
            </span>-->

            <h1 class="m-b-xs">
                <dc-count-widget
                        xfilter-service="{{xfilterService}}"
                        chart-service="{{DCchartService}}"
                        grp="{{chartGroup}}">
                </dc-count-widget>
            </h1>

            <h3 class="font-bold no-margins">
                OBSERVATIONS
            </h3>
            <!-- <small>Sales marketing.</small>-->
        </div>
        <div class="col-lg-3">
            <!--<span class="pull-right text-right">
            <small>Average value of sales in the past month in: <strong>United states</strong></small>
                <br/>
                All sales: 162,862
            </span>-->

            <h1 class="m-b-xs">
                <dc-count-widget
                        xfilter-service="{{xfilterService}}"
                        chart-service="{{DCchartService}}"
                        grp="{{chartGroup}}">
                </dc-count-widget>
            </h1>

            <h3 class="font-bold no-margins">
                VISITS
            </h3>
            <!-- <small>Sales marketing.</small>-->
        </div>
        <!--<p class="model-icon">-->
        <!--<span class="flaticon-standing55"></span>-->

        <!--<dc-number-display cf="cf"></dc-number-display>-->
        <!--<dc-count-widget cf="cf" chartservice="chartservice" chartgroup="{{chartGroup}}"></dc-count-widget>-->
        <!-- <div><button ng-click="showVisits()">Show visits</button></div>-->

        <!--</p>-->

        <!--<div class="col-lg-2">
            <div class="widget style1 navy-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h2 class="font-bold">217</h2>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h4>Explorer</h4>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <div class="pull-right">
                <div class="btn-group">
                    <label class="btn btn-xs btn-white" ng-model="show" btn-radio="'plots'">Data Plots</label>
                    <label class="btn btn-xs btn-white" ng-model="show" btn-radio="'table'">Data Table</label>
                </div>
            </div>
            <div id="{{chartContainerId}}" ng-hide="show =='table'" class="plots-view animated fadeIn"></div>
            <div id="clinical-datatable" ng-hide="show =='plots'" class="table-view animated fadeIn">
                <div style="min-height: 50px;">Filters selected go here and a button to add to cart</div>
                <dc-datatable class="table table-striped table-bordered table-hover dc-data-table"
                              chart-service="{{DCchartService}}"
                              xfilter-service="{{xfilterService}}"
                              grp="{{chartGroup}}">Choose observations from the tree below</dc-datatable>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="plots-view">
        <!--<ul class="nav nav-tabs">
            <li class="active"><a href="#clinical-plots" data-toggle="tab">Data Plots</a></li>
            <li><a href="#clinical-datatable" data-toggle="tab">Data Table</a></li>
            &lt;!&ndash;<li><a href="#settings" data-toggle="tab">Export</a></li>&ndash;&gt;
        </ul>

        &lt;!&ndash; Tab panes &ndash;&gt;
        <div class="tab-content">

        </div>-->


        <!--
        <dc-chart-visit chart-service='ClinicalCf' val="visit" grp="clinical"></dc-chart-visit>
        -->
        <cl-tree  observations="clinicalData" get-obs-ids-for-meddra="getObsIdsForMeddra(medraterm)" get-charting-opts="getChartingOpts()"></cl-tree>


    </div>
</div>