<html ng-app="drag-and-drop">
<head lang="en">
  <meta charset="utf-8">
  <title>Drag & Drop</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="src/angular-dragdrop.min.js"></script>
  <script src="sample.js"></script>

</head>


<style>

.btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
.btn-draggable { width: 160px; }
</style>



<!--User upload section-->
<div ng-controller="oneCtrl">

  <div class="row">
    <div class="col-md-4">
      <ul>
        <li ng-repeat="item in uploadVariables| orderBy:name">
          <div class="btn btn-droppable"  data-drop="true" ng-model='uploadVariables' jqyoui-droppable="{index: {{$index}}}">
            <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="uploadVariables" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
          </div>

      </li>
    </ul>
  </div>
</div>
</div>

<div ng-controller="oneCtrl">
  <h4>Identifier</h4>
  <table class="table table-bordered ">
    <tr ng-repeat="Identifier in FindingStandardData.indentifiers" >
      <td > {{Identifier.label}} ({{Identifier.name}}) :</td>
      <td>
        <div class="btn btn-droppable" data-drop="true" ng-model='identifierList' jqyoui-droppable="{index: {{$index}} }">
          <div class="btn btn-info btn-draggable" ng-show="identifierList[$index].title" data-drag="{{identifierList[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="identifierList" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{identifierList[$index].title}}</div>
        </div>
      </td>

    </tr>
  </table>

  <h4>Observation Variables</h4>

  <div ng-repeat="testIndex in getTestNumber() track by $index">
    <div>
      <h4 ng-init="newTestIndex=testIndex">Test{{newTestIndex}}</h4>
      <button class="btn btn-primary" ng-click="removeNewTest(newTestIndex)">Remove</button>

    </div>

    <table class="table table-bordered ">
    <tr ng-repeat="obsVariable in FindingStandardData.obsVariables" >
      <td> {{obsVariable.label}} ({{obsVariable.name}}) :</td>
      <td>
        <div class="btn btn-droppable" data-drop="true" ng-model='testsList[testIndex-1]' jqyoui-droppable="{index: {{$index}} }">
          <div class="btn btn-info btn-draggable" ng-show="testsList[testIndex-1][$index].title" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="testsList[testIndex-1]" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{testsList[testIndex-1][$index].title}}</div>
        </div>
        
      </td>   
    </tr>
    <div ng-repeat="test in testsList"><h1>测试</h1>{{test}}</div>
  </table>
  </div>
  <button class="btn btn-md btn-success" ng-click="addNewTest()">Add New Test</button>
  <h1>{{testCount}}</h1>


</div>



</body>
</html>