<link type="text/css" rel="stylesheet" href="manager/studyManager.css" />
<link type="text/css" rel="stylesheet" href="manager/activities/activities.css" />

<div id="activities">
    <div class="panel-header">
        <h3><span class="glyphicon glyphicon-plus" style="color: #39b3d7; margin-right: 3px"></span>Activities</h3>
    </div>

    <div class="panel-content">
        <div class="panel-content" style="float: left; width: 25%">
            <div style="margin-top: 10px; padding: 10px" ui-sref-active="new-activity-active">
                <!--   <ul class="unstyled">
                        <li ui-sref="manager.study-activities.new" ui-sref-active="new_activity_active">
                            <h5>Create new activity</h5>
                        </li>
                    </ul>-->
                <span><a ui-sref="manager.activities.detail({activityId:0})">New activity</a></span>

              <!--<button style="float: left"  type="button" class="btn btn-info" ng-click="$state.go('manager.activities.new', { activityId: new });" ng-init="btnText = 'New Activity'">{{ btnText }}</button>-->
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Study Activities</h3>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li ng-repeat="activity in vmodel.activities" class="list-group-item">
                                <a ui-sref="manager.activities.detail({activityId:activity.id})">{{activity.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ui-view="activities.detail" class="panel-content" style="padding-top: 10px;padding-right: 10px; width: 75%; float: right; "></div>
    </div>
</div>