.definition-list dl {
    border: 1px solid #fff;
    padding: 0.5em;
}
.definition-list dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #35495E;
}
.definition-list dt.under {
    float: none;
}

.definition-list dd.under {
    margin: 0 0 0 0px;
    padding: 0 0 0.5em 0;
}
/*.definition-list dt:after {
    content: ":";
}*/
.definition-list dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}