<div id="data-accordion">
    <div class="panel" style="border: 0">

        <div class="section-block-header" style="cursor: pointer" id="clinicaldata" data-toggle="collapse" data-parent="#data-accordion" data-target="#clinicadata-content">
            <h3>Clinical Data</h3>
        </div>
        <div id="clinicadata-content" class="assessment-list collapse" >

            <div style="padding: 5px;font-size: 0.7em;font-weight: bolder;">
                Search: <input ng-model="searchText">
            </div>
            <div style="height: 200px; overflow-y: scroll; margin-bottom: 10px;">
                <ul ng-repeat="class in cdiscClasses">
                    <li ng-repeat="domain in class.domains | filter:{name: searchText}"><a ui-sref="manager.activities.detail({domainID:domain.oid})">{{domain.name}} - ({{domain.code}})</a></li>
                </ul>
            </div>
        </div>



        <div class="section-block-header" style="cursor: pointer" id="moleculardata" data-toggle="collapse" data-parent="#data-accordion" data-target="#moleculardata-content">
            <h3>Molecular Assays</h3>
        </div>
        <div id="moleculardata-content" class="assessment-list collapse">
            <div style="padding: 5px;font-size: 0.7em;font-weight: bolder;">
                Search: <input ng-model="searchText">
            </div>
            <div style="height: 200px; overflow-y: scroll; margin-bottom: 10px;">
                <ul >
                    <li ng-repeat="isaconf in isaconfigs | filter:{name: searchText}">{{isaconf.name}}</li>
                </ul>
            </div>

        </div>


        <div class="section-block-header" id="subjectdata" data-toggle="collapse" data-parent="#data-accordion" data-target="#subjectdata-content">
            <h3>Subject Characteristics</h3>
        </div>
        <div id="subjectdata-content" class="assessment-list collapse">
            <div style="padding: 5px;font-size: 0.7em;font-weight: bolder;">
                Search: <input ng-model="searchText">
            </div>
            <div style="height: 200px; overflow-y: scroll; margin-bottom: 10px;">
                <ul>
                    <li>Demographics</li>
                    <li>Subject Characteristics</li>
                </ul>
            </div>
        </div>
    </div>


</div>