<div style=" width: 75%; font-size: 0.6em; float: right" >
    <div style="background-color: white;margin: 10px;">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{domain.name}}</dd>
            <dt>Class</dt>
            <dd>Findings</dd>
            <dt>Description</dt>
            <dd>Laboratory test findings including, but is not limited to hematology, clinical chemistry and urinalysis data. This domain does not include microbiology or pharmacokinetic data, which are stored in separate domains.</dd>
        </dl>
    </div>


    <div style=" width: 33%; float:left">
        <div>
            <span><h5>Dataset Variables</h5></span>
            <ul class="list-unstyled">
                <li ng-repeat="var in lbDomain.variables">
                    <label ui-sref="manager.activities.detail.variable({variableId:var.id})">
                        <input
                                type="checkbox"

                                value="{{var}}"

                                ng-click="selectVariable(var)"
                                > {{var.name}}
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div ui-view>
        <small class="muted"> Click on a variable to see details</small>
    </div>



</div>