<div style="width: 80%;
float: right;
/*margin-right: 15px;*/
background: white;
padding-right: 10px;
padding-left: 10px"
>
    <span><h6>Variable Definition</h6></span>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{model.variable.name}}</dd>
        <dt>Label</dt>
        <dd>{{model.variable.label}}</dd>
        <dt>Description</dt>
        <dd>{{model.variable.description}}</dd>
        <dt>Controlled Vocabulary</dt>
        <dd><select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select></dd>
    </dl>
    <hr>
    <div>
        <h6>Variable attributes</h6>
        <input id="mandatoryCHK" type="checkbox" ng-model="model.variable.mandatory">
        <label for="mandatoryCHK">Mandatory</label>
        <input id="order" type="text" ng-model="model.variable.order">
        <label for="order">Order Number</label>
        <input id="seq" type="text" ng-model="model.variable.sequence">
        <label for="seq">Sequence Number</label>
    </div>
</div>
