<link type="text/css" rel="stylesheet" href="explore/css/clinicalDataTree.css" />

<div id="clinical-data" class="content">
    <div class="panel-header">
        <h3 style="padding: 10px;"><span class="flaticon-man412" style="color: #39b3d7; margin-right: 3px"></span> Clinical Assessment
        </h3>
    </div>

    <div class="plots-view">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#clinical-plots" data-toggle="tab">Data Plots</a></li>
            <!--<li><a href="#clinical-datatable" data-toggle="tab">Data Table</a></li>
            <li><a href="#settings" data-toggle="tab">Export</a></li>-->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="{{chartContainerId}}" class="tab-pane active plots-view">
<!--                <div class='row'>

                    <div class='col-md-6' id='dc-magnitude-chart'>
                        <h4>Spirometry Test - FEV1</h4>
                    </div>
                    <div class='col-md-6' id='dc-depth-chart'>
                        <h4>Spirometry Test PEF</h4>
                    </div>

                </div>-->
            </div>

           <!-- <div class="tab-pane" id="clinical-datatable">
                <div class='row'>
                    <div class='pie-graph col-md-12'>
                        <table class='table table-hover' id='dc-table-graph'>
                            <thead>
                            <tr class='header'>
                                <th>DTG</th>
                                <th>Lat</th>
                                <th>Long</th>
                                <th>Depth</th>
                                <th>Magnitude</th>
                                <th>Google Map</th>
                                <th>OSM Map</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="settings">...</div>-->

        </div>

        <div class="clearfix"></div>

        <cl-tree  observations="clinicalData" get-charting-opts="getChartingOpts()"></cl-tree>


    </div>
</div>