<div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Loading Progress</h5>
                </div>
                <div class="ibox-content">
                    <h2 ng-if="!loadedDataset">Loading Dataset ...</h2>
                    <h2 ng-if="loadedDataset && !obsExtracted">Extracting Observations ...</h2>
                    <h2 ng-if="loadedDataset && obsExtracted">Done</h2>
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-three-bounce">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <a ui-sref="datastage.wizard.step_four" class="btn btn-default">Previous</a>
    <a ui-sref="datastage.files({ file: vm.fileName, map: vm.template, activityId: vm.activityId, datasetId: vm.datasetId })" class="btn btn-primary">Finish</a>
</div>
