
        <div has-permission="can-manage" project="vm.projectId" class="title-action" style="display: none">
            <a  ng-click="vm.saveActivity()" class="btn btn-primary">Save</a>
        </div>

<div class="row">
    <div class="col-md-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                                        <div class="ibox-title panel-header ">

                                            <h3>Users</h3>

                                        </div>
                <div class="ibox-content" style="min-height: 110px">

                    <div class=" row" >
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Descriptor Name</dt>
                                <dd>
                                    <div class="col-md-6">
                                        <a required editable-text="vm.dd.title" buttons="yes" blur="submit" e-placeholder="Enter Descriptor Name">
                                            {{vm.dd.title || 'Descriptor Name'}}
                                        </a>

                                    </div>
                                </dd>
                                <div class="hr-line-dashed"></div>
                                <dt>Description: </dt>
                                <dd>
                                    <div class="col-md-6">
                                        <a required editable-text="vm.dd.description" buttons="yes" blur="submit" e-placeholder="Enter Description">
                                            {{vm.dd.description || 'Descriptor Description'}}
                                        </a>
                                    </div>
                                </dd>
                                <div class="hr-line-dashed"></div>
                                <dt>Dataset Descriptor Type:</dt>
                                <dd>
                                    <div class="col-md-6">
                                        <a href="#" editable-select="vm.dd.type" e-ng-options="ddType.value as ddType.text for ddType in vm.ddTypes">
                                            {{ vm.showDDtype() }}
                                        </a>

                                    </div>
                                </dd>
                                <div class="hr-line-dashed"></div>

                            </dl>
                        </div>
                    </div>

                </div>


            </div>

            <div>
                <div class="ibox-title panel-header">
                    <span>Dataset Field Descriptors</span>
                     <span style="font-size:16px;margin-top:-5px;" class="pull-right">

                         <a ng-show="!tableform.$visible" ng-click="tableform.$show()">
                             <i class="p-xs fa fa-edit"> </i>
                         </a>

                         <i class="p-xs fa fa-eye"> </i>

                         <i class="p-xs fa fa-download"> </i>

                         <a has-permission="can-manage" project="vm.projectId"  ng-click="vm.deleteDS()">
                             <i class="p-xs fa fa-trash"> </i>
                         </a>
                            | <a ng-init="vm.creatingNewDS = false" ng-click="vm.openUpload()"><i uib-tooltip="Upload Dataset Descriptor" class="p-xs fa fa-plus"></i></a>
                        </span>
                </div>


                <div ng-show="vm.dd" id="{{ds.id}}" class=" animated fadeIn">


                    <!--Descriptor  Fields-->
                    <div class="ibox-content">
<!--                        <h3>Select columns to include in this template</h3>-->

                        <form editable-form name="tableform" onaftersave="vm.updateFields()" oncancel="vm.cancel()">

                            <div>

                                <div class="btn-form" ng-show="tableform.$visible">
                                    <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-default pull-right">add field</button>
                                    <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">update</button>
                                    <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
                                </div>
                            </div>
                        <!--FOO TABLE-->
                            <table id="bs_template_tbl" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                            <tr>
                                <th data-toggle="true">Field </th>
                                <th>Field Label</th>
                                <th>Description</th>
                                <th>Field Type</th>
                                <th>Name Term ID</th>
                                <th>Name Term XRef</th>
                            </tr>
                            </thead>
                                <tbody>
                            <tr ng-repeat="field in vm.dd.fields">
                                <td>
                                    <span editable-text="field.name" e-form="tableform">
                                            {{ field.name || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="field.label" e-form="tableform">
                                            {{ field.label || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="field.description" e-form="tableform">
                                            {{ field.description || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-select="field.fieldType" e-form="tableform" e-ng-options="s.value as s.text for s in vm.fieldTypes">
                                        {{ vm.showFieldType(field) }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="field.term" e-form="tableform">
                                            {{ field.term || 'empty' }}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="field.term" e-form="tableform">
                                            {{ field.term || 'empty' }}
                                    </span>
                                </td>

                            </tr>
                            </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                        </table>
                        </form>
                    </div>

                </div>

                <div ng-if="!vm.dd" class="ibox-content" >
                    <div uib-alert class="alert-info">
                        <h4>No Dataset Fields defined for this Dataset Descriptor.</h4>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
