<h1 class="domainTitleName">Upload</h1>




<div ng-repeat="testIndex in getTestNumber() track by $index" ui-view>
    <table class="table table-bordered "style="width: 700px;">
    <tr>
        <th>DOMAIN</th>
        <th>STUDYID</th>
        <th>{{getShortName()}}USUBJID</th>
        <th>{{getShortName()}}SEQ</th>

        <th>{{getShortName()}}TESTCD</th>
        <th>{{getShortName()}}TEST</th>
        <th>{{getShortName()}}ORRES</th>
        <th>{{getShortName()}}ORRESU</th>
    </tr>

        <tr ng-repeat="eachEntity in uploadVariablesDetails track by $index" ng-init="varIndex = $index">
            <td>{{getShortName()}}</td>
            <td>{{getIdentifierInput().STUDYID}}</td>
            <td >
                {{getUploadEntities(varIndex,identifierList[0].title)}}
            </td>

            <td >
                {{getUploadEntities(varIndex,identifierList[1].title)}}
            </td>


            <td>{{(getTestByIndex(testIndex)[0].TESTShortName)}}</td>
            <td>{{getTestByIndex(testIndex)[0].TESTName}}</td>
            <td>
                {{getUploadEntities(varIndex,getTestByIndex(testIndex)[0].title)}}
            </td>
            <td>{{getTestByIndex(testIndex)[0].TESTResultUnit}}</td>

        </tr>
    </table>


</div>