
<div ng-controller="dragAndDropController">

	<h4>Identifier</h4>
	<table class="table table-bordered ">
		<tr ng-repeat="Identifier in standardData.indentifiers" >
			<td > {{Identifier.label}} ({{Identifier.name}}) :</td>
			<td>
				<div class="btn btn-droppable" data-drop="true" ng-model='identifierList' jqyoui-droppable="{index: {{$index}} }">
					<div class="btn btn-info btn-draggable" ng-show="identifierList[$index].title" data-drag="{{identifierList[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="identifierList" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">{{identifierList[$index].title}}</div>
				</div>
			</td>

		</tr>
	</table>

	<h4>Observation Variables</h4>

	<div ng-repeat="testIndex in getTestNumber() track by $index">
		<div>
			<h4 ng-init="newTestIndex=testIndex">Test{{newTestIndex}}</h4>
			<button class="btn btn-primary" ng-click="removeNewTest(newTestIndex)">Remove</button>

		</div>

		<table class="table table-bordered ">
			<tr ng-repeat="obsVariable in standardData.obsVariables" >
				<td> {{obsVariable.label}} ({{obsVariable.name}}) :</td>
				<td>
					<div class="btn btn-droppable" data-drop="true" ng-model='testsList[testIndex-1]' jqyoui-droppable="{index: {{$index}} }">
						<div class="btn btn-info btn-draggable" ng-show="testsList[testIndex-1][$index].title" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="testsList[testIndex-1]" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{testsList[testIndex-1][$index].title}}</div>
					</div>

				</td>
			</tr>
		</table>
	</div>
	<button class="btn btn-md btn-success" ng-click="addNewTest()">Add New Test</button>

	<div><button class="btn btn-md btn-success" ng-click="submitData()" >Submit</button></div>

</div>

<!--<input type="text" ng-model="name">{{name}}-->
	<!--<h3 >Vital Sight</h3>-->



	<!--<div class= "well" id ="Identifier" ng-model ="VSIdentifier">-->
		<!--<h4>Identifier</h4>-->
		<!--<div ng-controller="mappingFormSelectionController" >-->
			<!--<table class="table table-bordered" >-->
				<!--<tr ng-repeat="Identifier in mappingStandardsData.indentifiers" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">-->
					<!--<td class="variableNameTd"> {{Identifier.name}} </td>-->
					<!--&lt;!&ndash;This td will ng-repeat on droppable container&ndash;&gt;-->
					<!--<td> {{Identifier.mappingVar}}-->
						<!--<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">-->
							<!--<i class="glyphicon glyphicon-remove-circle">-->
							<!--</i>-->
						<!--</button>-->
					<!--</td>-->



				<!--</tr>-->

			<!--</table>-->
		<!--</div>-->

		<!--<div  ng-controller="mappingFormSelectionController">-->
			<!--<table class="table table-bordered"  >-->
				<!--<tr >-->
					<!--<td class="variableNameTd">Study Identifier (STUDYID)*:</td>-->
					<!--<td><input type="text" class="form-control"></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="variableNameTd">Domain Abbreviation (DOMAIN)*:</td>-->
					<!--<td>VS</td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="variableNameTd">Unique Subject Identifier (USUBJID)*:</td>-->
					<!--<td></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td class="variableNameTd">Sequence Number (VSSEQ)*:</td>-->
					<!--<td><label>Maching</label></td>-->
				<!--</tr>-->
			<!--</table>-->
			<!-- -->
		<!--</div>-->


	<!--</div>-->

	<!--<div class= "well"><h4>Topic</h4>-->
		<!--<table class="table table-bordered">-->
			<!--<tr>-->
				<!--<td class="variableNameTd">Vital Signs Test Short Name (VSTESTCD)*:</td>-->
				<!--<td class>VSTESTCD</td>-->
			<!--</tr>-->
		<!--</table>-->
		<!-- -->
	<!--</div>-->

	<!--<div class= "well" ng-model ="VSQualifier"> <h4>Qualifier</h4>-->


			<!--<table class="table table-bordered">-->
				<!--<tr>-->
					<!--<td class="variableNameTd">Baseline Flag*:</td>-->
					<!--<td><select class="form-control">-->
						<!--<option>Yes</option>-->
						<!--<option>No</option>-->
					<!--</select>-->
					<!--</td>-->
				<!--</tr>-->
			<!--</table>-->
	<!--</div>-->
	<!--<div class="well" ng-model="VSTest" id="space-for-newTest"> Test-->
		<!--<p></p>-->
		<!--<div style="padding-bottom: 20px" ng-controller="addTestController">-->
			<!--<addtestsbutton></addtestsbutton>-->
			<!-- -->
		<!--</div>-->



	<!--</div>-->



<!--<div>-->


		<!--<li class="list-group-item">Vital Sins Test Name(VSTEST)*: &nbsp;<input type="text" class="form-control"> </li>-->
		<!--<li class="list-group-item">Result or Finding in Original Units (VSORRES)*:&nbsp;</li>-->
		<!--<li class="list-group-item">Original Units (VSORRESU)*:&nbsp;<input type="text" class="form-control"></li>-->

<!--</div>-->
	<!-- <div class= "well" ng-model ="Timing"> <h4>Timing</h4>
		<div class= "listgroup">
			<a href="#" class="list-group-item list-group-item-info">Start Date/Time of Visit (SVSTDTC)*:</a>
			<a href="#" class="list-group-item list-group-item-info">End Date/Time of Visit(SVENDTC)*:</a>
			<a href="more.html" class="list-group-item list-group-item-info">+More</a>

		</div>
	</div> -->


